<div class="pos_page">
  <div class="container">
    <br>
    <div class="search-container">
      <h3>Tra cứu thông tin đơn hàng</h3>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div>
          <input class="search-input" formControlName="ma" placeholder="Nhập mã hóa đơn" style="margin-bottom: 10px"/>
        <h6 *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</h6>
          <button type="submit" [disabled]="searchForm.invalid" class="btn-submit">Tra cứu</button>
        </div>
      </form>
    </div>


    <!-- Hiển thị timeline trạng thái hóa đơn nếu tìm thấy -->
    <div *ngIf="hoaDon" class="row main-timeline10">
      <!-- Trạng thái Chờ xác nhận -->
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
           [ngClass]="{'active': trangThaiHoaDon === 'Chờ xác nhận' || trangThaiHoaDon === 'Đã xác nhận' || trangThaiHoaDon === 'Đang giao hàng' || trangThaiHoaDon === 'Hoàn thành'}">
        <div class="timeline-inner">
          <h4>Chờ xác nhận</h4>
          <div class="timeline-icon">
            <i class="fa fa-solid fa-exclamation"></i>
          </div>
        </div>
      </div>

      <!-- Trạng thái Đã xác nhận -->
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
           [ngClass]="{'active': trangThaiHoaDon === 'Đã xác nhận' || trangThaiHoaDon === 'Đang giao hàng' || trangThaiHoaDon === 'Hoàn thành'}">
        <div class="timeline-inner">
          <h4>Đã xác nhận</h4>
          <div class="timeline-icon">
            <i class="fa fa-solid fa-check"></i>
          </div>
        </div>
      </div>

      <!-- Trạng thái Đang giao hàng -->
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
           [ngClass]="{'active': trangThaiHoaDon === 'Đang giao hàng' || trangThaiHoaDon === 'Hoàn thành'}">
        <div class="timeline-inner">
          <h4>Đang giao hàng</h4>
          <div class="timeline-icon">
            <i class="fa fa-solid fa-truck"></i>
          </div>
        </div>
      </div>

      <!-- Trạng thái Hoàn thành -->
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
           [ngClass]="{'active': trangThaiHoaDon === 'Hoàn thành'}">
        <div class="timeline-inner">
          <h4>Hoàn thành</h4>
          <div class="timeline-icon">
            <i class="fa fa-regular fa-credit-card"></i>
          </div>
        </div>
      </div>
    </div>

    <!--    &lt;!&ndash; Hiển thị thông báo lỗi nếu không tìm thấy hóa đơn &ndash;&gt;-->
    <!--    <div *ngIf="errorMessage" class="error-message">-->
    <!--      {{ errorMessage }}-->
    <!--    </div>-->
  </div>
</div>
