<div class="main-content">
  <div class="content-top">
    <h2>Thêm Sản Phẩm</h2>
    <div class="section">
      <div class="section-content">
        <div class="form-group">
          <label>Mã sản phẩm:</label>
          <input type="text" placeholder="Nhập mã sản phẩm">
        </div>
        <div class="form-group">
          <label>Tên sản phẩm:</label>
          <input type="text" placeholder="Nhập tên sản phẩm">
        </div>
      </div>
      <div class="section-content">
        <div class="form-group">
          <label>Xuất xứ:</label>
          <select id="filterSelect" class="filter-select">
            <option value="">Chọn xuất xứ--</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <div class="form-group">
          <label>Thương hiệu:</label>
          <select id="filterSelect" class="filter-select">
            <option value="">Chọn thương hiệu--</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
      </div>
      <div class="section-content">
        <div class="form-group">
          <label>Chất liệu:</label>
          <select id="filterSelect" class="filter-select">
            <option value="">Chọn chất liệu--</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <div class="form__group">
          <label>Trạng thái:</label>
          <div class="radio-group">
            <label>
              <input type="radio" name="status" value="option1" checked>Còn hàng
            </label>
            <label>
              <input type="radio" name="status" value="option2"> Hết hàng
            </label>
          </div>
        </div>
      </div>
      <div class="section-content">
        <button class="btn-add" onclick="showSuccessToast();">Thêm</button>
        <button class="btn-add-details" onclick="navigateTo('SanPhamChiTiet.html')">Chi tiết sản phẩm</button>
        <button class="btn-update" onclick="showSuccessToast();">Cập nhật</button>
      </div>
    </div>
  </div>
  <div class="section-details">
    <h2>Sản phẩm</h2>
    <div class="filter">
      <input type="text" placeholder="Nhập tên sản phẩm or mã sản phẩm...">
      <button class="search-btn"><i class="fas fa-search"></i></button>
    </div>
    <app-san-pham></app-san-pham>
    <div class="pagination">
      <button class="page-btn">Prev</button>
      <button class="page-btn">1</button>
      <button class="page-btn">2</button>
      <button class="page-btn">3</button>
      <button class="page-btn">Next</button>
    </div>
  </div>
</div>