.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 39%;
    font-size: 24px;
}
.form-login {
    background-color: #fff;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
}
.btn {
    border-radius: 5px;
}