<div class="popup">
    <form class="add-customer" (ngSubmit)="addCustomer()" >
        <span class="close" (click)="close()">×</span>
        <div>
            <label>Họ tên</label>
            <input type="text" [(ngModel)]="customer.ten" name="ten">
        </div>
        <div class="check-input">
            <label>Giới tính:</label>
            <div class="input-radio">
                <input class="form-check-input" type="radio" [(ngModel)]="customer.gioiTinh" name="gioiTinh"
                    value="0">
                <label class="form-check-label">Nam</label>
            </div>
            <div class="input-radio">
                <input class="form-check-input" type="radio" [(ngModel)]="customer.gioiTinh" name="gioiTinh" value="1">
                <label class="form-check-label">Nữ</label>
            </div>
        </div>
        <div>
            <label>Ngày tháng năm sinh</label>
            <input type="date" [(ngModel)]="customer.ngayThangNamSinh" name="ngayThangNamSinh">
        </div>
        <div>
            <label>Email</label>
            <input type="email" [(ngModel)]="customer.email" name="email">
        </div>
        <div>
            <label>Số điện thoại</label>
            <input type="text" [(ngModel)]="customer.sdt" name="sdt">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>