<div class="popup">
    <div class="content">
        <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
            <span class="close" (click)="close()"><i class="material-icons">close</i></span>
            <input type="text" placeholder="Nhập tên sản phẩm hoặc mã..." [(ngModel)]="searchTerm"
                (input)="searchProduct()" style="flex: 1; margin-right: 10px;height: 35px;">
            <select class="form-select" aria-label="Default select example" (change)="onChangeSize($event)" style="flex: 1; margin-right: 10px;height: 35px;">
                <option value="" selected style="text-align: center;">Chọn size</option>
                <option *ngFor="let size of size" style="text-align: center;" [value]="size.id">{{size.ten}}</option>
            </select>
            <select class="form-select" aria-label="Default select example" (change)="onChangeMauSac($event)" style="flex: 1; margin-right: 10px;height: 35px;">
                <option value="" selected style="text-align: center;">Chọn màu sắc</option>
                <option *ngFor="let mauSac of mauSac" style="text-align: center;" [value]="mauSac.id">{{mauSac.ten}}</option>
            </select>
            <select class="form-select" aria-label="Default select example" (change)="onChangeThuongHieu($event)" style="flex: 1; margin-right: 10px;height: 35px;">
                <option value="" selected style="text-align: center;">Chọn thương hiệu</option>
                <option *ngFor="let thuongHieu of thuongHieu" style="text-align: center;" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
            </select>
            <select class="form-select" aria-label="Default select example" (change)="onChangeXuatXu($event)" style="flex: 1; margin-right: 10px;height: 35px;">
                <option value="" selected style="text-align: center;">Chọn xuất xứ</option>
                <option *ngFor="let xuatXu of xuatXu" style="text-align: center;" [value]="xuatXu.id">{{xuatXu.ten}}</option>
            </select>
            <select class="form-select" aria-label="Default select example" (change)="onChangeGioiTinh($event)" style="flex: 1; height: 35px;">
                <option value="" selected style="text-align: center;">Chọn giới tính</option>
                <option *ngFor="let gioiTinh of gioiTinh" style="text-align: center;" [value]="gioiTinh.id">{{gioiTinh.ten}}</option>
            </select>
        </div>
        <h4 class="card-title" style="font-weight: bold; color: black; display: flex; align-items: center;margin-top: 10px;">
            <i class="material-icons" style="margin-right: 10px;">list</i> Danh sách sản phẩm
        </h4>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-primary" style="white-space: nowrap;">
                    <th>Stt</th>
                    <th>Mã</th>
                    <th>Tên sản phẩm</th>
                    <th>Xuất xứ</th>
                    <th>Thương hiệu</th>
                    <th>Màu sắc</th>
                    <th>Giới Tính</th>
                    <th>Size</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thao tác</th>
                </thead>
                <tbody>
                    <tr *ngFor="let ctsp of product, let i = index">
                        <td style="border-left: 1px solid #ddd;text-align: center;">{{i+1}}</td>
                        <td style="border-left: 1px solid #ddd;">{{ctsp.ma}}</td>
                        <td style="border-left: 1px solid #ddd;">{{ctsp.san_pham?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;">{{ctsp.san_pham?.xuatXu?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;">{{ctsp.san_pham?.thuongHieu?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;white-space: nowrap;">{{ctsp.mauSac?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;text-align: center;">{{ctsp.san_pham?.gioiTinh?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;text-align: center;">{{ctsp.size?.ten}}</td>
                        <td style="border-left: 1px solid #ddd;text-align: center;">{{ctsp.soLuong}}</td>
                        <td style="border-left: 1px solid #ddd;white-space: nowrap;">{{ctsp.donGia | number:'1.0-0' }} VND</td>
                        <td style="border-left: 1px solid #ddd;text-align: center;"><button class="select-product" (click)="selectProduct(ctsp.id)">
                                <i class="material-icons">add_shopping_cart</i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <button (click)="getSanPham(pagination.pageNumber - 1)" [disabled]="pagination.pageNumber === 0">
                <i class="material-icons">arrow_back_ios</i>
            </button>
            <span>Page {{pagination.pageNumber + 1}} of {{pagination.totalPage}}</span>
            <button (click)="getSanPham(pagination.pageNumber + 1)"
                [disabled]="pagination.pageNumber === pagination.totalPage - 1">
                <i class="material-icons">arrow_forward_ios</i>
            </button>
        </div>
    </div>
</div>