<div class="main-content">
  <div class="container-fluid">
    <div class="card mb-4">
      <div class="card-header card-header-custom"
        style="background: linear-gradient(135deg, #3a6f9e 0%, #4fb0d1 100%); color: #f0f0f0; border-radius: 8px 8px 0 0; margin: 0; padding: 10px;">
        <h3 class="card-title" style="color: white; font-weight: bold;"><i class="material-icons">card_giftcard</i> Quản lý voucher</h3>
      </div>
      <!-- Phần lọc voucher -->
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="searchForm" class="search-form mb-4">
            <div class="border rounded p-4 mb-4">
              <div class="row d-flex align-items-center flex-wrap">

                <!-- Search Input -->
                <div class="col-md-3">
                  <label for="toDate" class="d-block" style="color: black; font-weight: bold;">Tìm theo tên hoặc mã</label>
                  <input type="text" class="form-control" formControlName="searchKey" style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" />
                </div>

                <!-- Status Dropdown -->
                <div class="col-md-3">
                  <label for="toDate" class="d-block" style="color: black; font-weight: bold;">Trạng thái</label>
                  <select id="trangThai" class="form-control" formControlName="trangThai" style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <option value="">Tất cả</option>
                    <option value="Đang diễn ra">Đang diễn ra</option>
                    <option value="Đã hết">Đã hết</option>
                    <option value="Đã kết thúc">Đã kết thúc</option>
                    <option value="Sắp diễn ra">Sắp diễn ra</option>
                  </select>
                </div>

                <!-- From Date -->
                <div class="col-md-3">
                  <label for="fromDate" class="d-block" style="color: black; font-weight: bold;">Từ ngày</label>
                  <input type="datetime-local" class="form-control" formControlName="fromDate" required style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" />
                </div>

                <!-- To Date -->
                <div class="col-md-3">
                  <label for="toDate" class="d-block" style="color: black; font-weight: bold;">Đến ngày</label>
                  <input type="datetime-local" class="form-control" formControlName="toDate" required style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" />
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>

      <div #myModal class="modal fade" id="sanPhamModal" tabindex="-1" role="dialog" aria-labelledby="sanPhamModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="mb-3">Thêm/Sửa voucher</h4>
              <form [formGroup]="voucherForm" (ngSubmit)="createOrUpdateVoucher()">
                <div class="row" style="margin-top: -10px;">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ma">Mã voucher</label>
                      <input type="text" id="ma" class="form-control" required formControlName="ma"
                        [ngClass]="{'error-message': voucherForm.get('ma').invalid && (voucherForm.get('ma').touched || voucherForm.get('ma').dirty)}"
                        pattern="^[A-Za-z0-9]+$" 
                        [readonly]="isEditing"/>
                    </div>
                    <div
                      *ngIf="voucherForm.get('ma').invalid && (voucherForm.get('ma').touched || voucherForm.get('ma').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Mã voucher không hợp lệ</span>
                    </div>
                  </div>
                  <div class="col-md-4" >
                    <div class="form-group">
                      <label for="ten">Tên voucher</label>
                      <input type="text" id="ten" class="form-control" required formControlName="ten"
                        [ngClass]="{'error-message': voucherForm.get('ten').invalid && (voucherForm.get('ten').touched || voucherForm.get('ten').dirty)}"
                        pattern="^[A-Za-z0-9àáảãạăắằẳẵặâấầẩẫậéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựđĐ%. ]+$"
                        [readonly]="isEditing" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('ten').invalid && (voucherForm.get('ten').touched || voucherForm.get('ten').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Tên voucher không hợp lệ</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" >
                      <label for="kieuGiamGia">Kiểu giảm giá</label>
                      <select id="kieuGiamGia" class="form-control" required formControlName="kieuGiamGia" [class.locked]="isEditing"
                     >
                        <option value="VND">VND</option>
                        <option value="%">%</option>
                      </select>
                    </div>
                    <div
                      *ngIf="voucherForm.get('kieuGiamGia').invalid && (voucherForm.get('kieuGiamGia').touched || voucherForm.get('kieuGiamGia').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Bạn phải chọn một kiểu giảm giá</span>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-top: -17px;">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="soLuong">Số lượng</label>
                      <input type="number" id="soLuong" class="form-control" required formControlName="soLuong"
                        [ngClass]="{'error-message': voucherForm.get('soLuong').invalid && (voucherForm.get('soLuong').touched || voucherForm.get('soLuong').dirty)}"
                        min="0" max="9999999" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('soLuong').invalid && (voucherForm.get('soLuong').touched || voucherForm.get('soLuong').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Số lượng không hợp lệ</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="giaTriVoucher">Giá trị voucher</label>
                      <input type="number" id="giaTriVoucher" class="form-control" required
                        formControlName="giaTriVoucher"
                        [ngClass]="{'error-message': voucherForm.get('giaTriVoucher').invalid && (voucherForm.get('giaTriVoucher').touched || voucherForm.get('giaTriVoucher').dirty)}"
                        min="0" max="99999999" 
                        [readonly]="isEditing"/>
                    </div>
                    <div
                      *ngIf="voucherForm.get('giaTriVoucher').invalid && (voucherForm.get('giaTriVoucher').touched || voucherForm.get('giaTriVoucher').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Giá trị voucher không hợp lệ</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="giaTriGiamToiDa">Giá trị giảm tối đa</label>
                      <input type="number" id="giaTriGiamToiDa" class="form-control" required
                        formControlName="giaTriGiamToiDa"
                        [ngClass]="{'error-message': voucherForm.get('giaTriGiamToiDa').invalid && (voucherForm.get('giaTriGiamToiDa').touched || voucherForm.get('giaTriGiamToiDa').dirty)}"
                        min="0" max="99999999" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('giaTriGiamToiDa').invalid && (voucherForm.get('giaTriGiamToiDa').touched || voucherForm.get('giaTriGiamToiDa').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Giá trị giảm tối đa không hợp lệ</span>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-top: -17px;">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="giaTriHoaDonToiThieu">Giá trị hóa đơn tối thiểu</label>
                      <input type="number" id="giaTriHoaDonToiThieu" class="form-control" required
                        formControlName="giaTriHoaDonToiThieu"
                        [ngClass]="{'error-message': voucherForm.get('giaTriHoaDonToiThieu').invalid && (voucherForm.get('giaTriHoaDonToiThieu').touched || voucherForm.get('giaTriHoaDonToiThieu').dirty)}"
                        min="0" max="99999999" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('giaTriHoaDonToiThieu').invalid && (voucherForm.get('giaTriHoaDonToiThieu').touched || voucherForm.get('giaTriHoaDonToiThieu').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Giá trị hóa đơn tối thiểu không hợp lệ</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="thoiGianBatDau">Thời gian bắt đầu</label>
                      <input type="datetime-local" id="thoiGianBatDau" class="form-control" required
                        formControlName="thoiGianBatDau"
                        [readonly]="voucherForm.get('trangThai').value === 'Đang diễn ra'"
                        [ngClass]="{'error-message': voucherForm.get('thoiGianBatDau').invalid && (voucherForm.get('thoiGianBatDau').touched || voucherForm.get('thoiGianBatDau').dirty)}" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('thoiGianBatDau').invalid && (voucherForm.get('thoiGianBatDau').touched || voucherForm.get('thoiGianBatDau').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Thời gian bắt đầu không hợp lệ</span>
                      <span *ngIf="voucherForm.get('thoiGianBatDau').hasError('yearTooSmall')" class="error-message" style="font-size: 12px; font-weight: bold;">
                        Năm bắt đầu phải trong khoảng 1950 - 2150
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="thoiGianKetThuc">Thời gian kết thúc</label>
                      <input type="datetime-local" id="thoiGianKetThuc" class="form-control" required
                        formControlName="thoiGianKetThuc"
                        [ngClass]="{'error-message': voucherForm.get('thoiGianKetThuc').invalid && (voucherForm.get('thoiGianKetThuc').touched || voucherForm.get('thoiGianKetThuc').dirty)}" />
                    </div>
                    <div
                      *ngIf="voucherForm.get('thoiGianKetThuc').invalid && (voucherForm.get('thoiGianKetThuc').touched || voucherForm.get('thoiGianKetThuc').dirty)"
                      style="margin-top: -30px;">
                      <span class="error-message" style="font-size: 12px; font-weight: bold;">Thời gian kết thúc không hợp lệ</span>
                      <span *ngIf="voucherForm.get('thoiGianKetThuc').hasError('yearTooSmall')" class="error-message" style="font-size: 12px; font-weight: bold;">
                        Năm kết thúc phải trong khoảng 1950 - 2150
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: -15px;">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="moTa">Mô tả</label>
                      <input type="text" id="moTa" class="form-control" formControlName="moTa" />
                    </div>
                  </div>
                </div>
                
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary btn-sm mr-2" [disabled]="voucherForm.invalid" style="border-radius: 6px; background: linear-gradient(135deg, #3a6f9e 0%, #4fb0d1 100%); color: white; width: 120px; height: 40px; font-size: 12px; display: flex; align-items: center; justify-content: center;">
                    <i class="material-icons" style="vertical-align: middle;">add</i>
                    {{ currentVoucher ? 'Cập nhật' : 'Thêm' }}
                  </button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="resetForm()" style="border-radius: 6px; background: linear-gradient(135deg, #3a6f9e 0%, #4fb0d1 100%); color: white; width: 120px; height: 40px; font-size: 12px; display: flex; align-items: center; justify-content: center;">
                    <i class="material-icons" style="vertical-align: middle;">undo</i>
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-between align-items-center mb-3"
        style="margin-bottom: -50rem; padding-bottom: -50rem;margin-left: 20px;">
        <button [disabled]="role!=='admin'" type="button" click="resetForm()" class="btn" data-toggle="modal"
          data-target="#sanPhamModal">
          <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">add</i>
          Thêm voucher
        </button>
      </div>

      <hr />
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 style="font-weight: bold; font-size: 1.4rem; color: #333;margin-left: 10px;">
          <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">list</i>
          Danh sách voucher
        </h4>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="text-primary">
            <tr style="white-space: nowrap;">
              <th>Mã</th>
              <th>Tên voucher</th>
              <th>Giá trị voucher</th>
              <th>Kiểu giảm giá</th>
              <th>Giá trị giảm tối đa</th>
              <th>Giá trị hóa đơn tối thiểu</th>
              <th>Số lượng</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày kết thúc</th>
              <th>Mô tả</th>
              <th>Trạng thái</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let voucher of vouchers">
              <td style="border: 1px solid #ddd;white-space: nowrap;">{{ voucher.ma }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;">{{ voucher.ten }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.giaTriVoucher | number:'1.0-0' }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.kieuGiamGia }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.giaTriGiamToiDa | number:'1.0-0' }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.giaTriHoaDonToiThieu | number:'1.0-0' }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.soLuong }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.thoiGianBatDau | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;text-align: center;">{{ voucher.thoiGianKetThuc | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td style="border: 1px solid #ddd;white-space: nowrap;">{{ voucher.moTa }}</td>
              <td [ngStyle]="{'color': voucher.trangThai === 'Đang diễn ra' ? 'green' : 'red', 'font-weight': 'bold'}" style="border: 1px solid #ddd;white-space: nowrap;">{{ voucher.trangThai }}</td>
              <td style="border: 1px solid #ddd;">
                <div style="display: flex; justify-content: space-between;">
                  <div>
                    <button class="btn btn-edit" (click)="editVoucher(voucher)" [disabled]="role!=='admin'"
                      data-toggle="modal" data-target="#sanPhamModal">
                      <i class="material-icons">update</i>
                    </button>
                  </div>
                  <div style="margin-left: 10px;">
                    <button class="btn btn-update" (click)="capNhap(voucher.id)"
                      [disabled]="voucher.trangThai === 'Đã hết hạn'||role!=='admin'">
                      <i class="material-icons">swap_horiz</i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="pagination-container">
        <div class="paginationr">
          <button *ngIf="page > 0" (click)="prevPage()">
            <i class="material-icons">arrow_back_ios</i>
          </button>
          <!-- Hiển thị thông báo trang hiện tại trên tổng trang -->
          <span class="current-page"> Trang {{ page + 1 }} / {{ totalPages }} </span>
          <button *ngIf="page < totalPages - 1" (click)="nextPage()">
            <i class="material-icons">arrow_forward_ios</i>
          </button>
        </div>
      </div>
    </div>
  </div>