<div class="container">
    <h1>Đổi mật khẩu</h1>
    <form (submit)="changePassword()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
            <input type="email" class="form-control" [(ngModel)]="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập tài khoản">
            <small *ngIf="checkUsername" class="error-text">Vui lòng nhập đầy đủ!</small>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordOld" class="form-label">Mật khẩu cũ</label>
            <input type="password" class="form-control" [(ngModel)]="passwordOld" id="exampleInputPasswordOld" placeholder="Nhập mật khẩu cũ">
            <small *ngIf="checkPasswordOld" class="error-text">Vui lòng nhập đầy đủ!</small>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordNew" class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" [(ngModel)]="passwordNew" id="exampleInputPasswordNew" placeholder="Nhập mật khẩu mới">
            <small *ngIf="checkPasswordNew && !passwordNew" class="error-text">
                Vui lòng nhập đầy đủ!
            </small>
            <small *ngIf="checkPasswordNew && passwordNew && (passwordNew.length < 6 || passwordNew.length > 20)" class="error-text">
                Mật khẩu mới phải có từ 6-20 ký tự.
            </small>
            <small *ngIf="checkPasswordNew && passwordNew && passwordNew.length >= 6 && passwordNew.length <= 20 && !isPasswordContainsLetterAndNumber(passwordNew)" class="error-text">
                Mật khẩu mới phải bao gồm cả chữ cái và số.
            </small>
        </div>

        <div class="mb-3">
            <label for="exampleInputPasswordConfirm" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" (input)="getPassword($event.target.value)"
                   [ngClass]="{'error-border': passwordNew !== passwordRequier && passwordRequier}" id="exampleInputPasswordConfirm" placeholder="Nhập lại mật khẩu mới">
            <small *ngIf="checkPasswordRequier && !passwordRequier" class="error-text">
                Vui lòng nhập đầy đủ!
            </small>
            <small *ngIf="passwordRequier && passwordNew !== passwordRequier" class="error-text">
                Mật khẩu không khớp
            </small>
        </div>

        <button type="button" (click)="exit()">Quay lại</button>
        <button type="submit" [disabled]="passwordNew !== passwordRequier">Xác nhận</button>
    </form>
</div>
