<div class="container">
    <h1>Đổi mật khẩu</h1>
    <form (submit)="changePassword()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
            <input type="email" class="form-control" [(ngModel)]="username" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span *ngIf="checkUsername" class="error-text">Vui lòng nhập đầy đủ!</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordOld" class="form-label">Mật khẩu cũ</label>
            <input type="password" class="form-control" [(ngModel)]="passwordOld" id="exampleInputPasswordOld">
            <span *ngIf="checkPasswordOld" class="error-text">Vui lòng nhập đầy đủ!</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordNew" class="form-label">Mật khẩu mới</label>
            <input type="password" class="form-control" [(ngModel)]="passwordNew" id="exampleInputPasswordNew">
            <span *ngIf="checkPasswordNew" class="error-text">Vui lòng nhập đầy đủ!</span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPasswordConfirm" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" (input)="getPassword($event.target.value)" [ngClass]="{'error-border': passwordNew !== passwordRequier}" id="exampleInputPasswordConfirm">
            <span *ngIf="checkPasswordRequier" class="error-text">Vui lòng nhập đầy đủ!</span>
        </div>
        <div *ngIf="passwordNew !== passwordRequier">
            <span class="error-text">Mật khẩu không khớp</span>
        </div>
        <button type="button" (click)="exit()">Quay lại</button>
        <button type="submit" [disabled]="passwordNew !== passwordRequier">Xác nhận</button>
    </form>
</div>
