.container{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10%;
}
h2{
    text-align: center;
    font-weight: bold;
}
.container button{
    border: 0px;
    background-color: #003366;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
}
.container button:hover{
    background-color: #186793;
}
.error-border {
    border-bottom: 1px solid red;
    background-color: #ffe6e6;
}

.error-text {
    color: red;
    font-size: 12px;
}

input::placeholder {
    font-size: 11px; /* Thay đổi kích thước chữ */
    color: #999; /* Màu sắc của placeholder, có thể thay đổi */
}