<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="color: #ffffff;"><i class="material-icons">group_add</i> Quản lý khách
                    hàng</h3>
            </div>
            <form id="customerForm" (ngSubmit)="createKhachHang()" #customerForm="ngForm">
                <div class="row">
                    <div class="card "
                        style="padding: 20px; background-color: #ffffff; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-row" style="display: flex; justify-content: center;">
                                    <div class="form-group upload-container">
                                        <div class="image-upload-container"
                                            (click)="document.getElementById('anh').click()">
                                            <input type="file" class="form-control" id="anh" name="anh"
                                                (change)="onFileSelected($event)" required>
                                            <div class="image-preview" *ngIf="newKhachHang.anh">
                                                <img [src]="newKhachHang.anh" alt="Ảnh nhân viên" />
                                            </div>
                                            <label for="anh" class="upload-label" *ngIf="!newKhachHang.anh"><i
                                                    class="material-icons">add_a_photo</i></label>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <label class="form-label">Tên khách hàng</label>
                                    <input type="text" class="form-control" placeholder="Nhập tên khách hàng" name="ten"
                                        required [(ngModel)]="newKhachHang.ten">
                                        
                                </div>
                                <div class="mt-4">
                                    <label class="form-label" for="ngayThangNamSinh">Ngày sinh</label>
                                    <input type="date" class="form-control" id="ngayThangNamSinh"
                                        [(ngModel)]="newKhachHang.ngayThangNamSinh" name="ngayThangNamSinh" required>
                                </div>
                                <div class="mt-2">
                                    <div class="">
                                        <label class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" name="sdt"
                                            placeholder="Nhập số điện thoại" required [(ngModel)]="newKhachHang.sdt">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <label class="form-label">Giới tính</label>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="gioiTinhNam"
                                            [(ngModel)]="newKhachHang.gioiTinh" name="gioiTinh" value="0" required>
                                        <label for="gioiTinhNam" style="margin-right: 20px;">Nam</label>
                                    </div>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="gioiTinhNu"
                                            [(ngModel)]="newKhachHang.gioiTinh" name="gioiTinh" value="1">
                                        <label for="gioiTinhNu">Nữ</label>
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="Nhập email"
                                        required [(ngModel)]="newKhachHang.email">
                                </div>
                                <div class="mt-4">
                                    <label class="form-label">Trạng thái</label>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="trangThaiHoatDong"
                                            [(ngModel)]="newKhachHang.trangThai" name="trangThai" value="Đang hoạt động"
                                            required>
                                        <label for="trangThaiHoatDong" style="margin-right: 20px;">Đang hoạt
                                            động</label>
                                    </div>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="trangThaiKhongHoatDong"
                                            [(ngModel)]="newKhachHang.trangThai" name="trangThai"
                                            value="Không hoạt động">
                                        <label for="trangThaiKhongHoatDong">Không hoạt động</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-12 text-end">
                                <div class="text-center mt-2.5">
                                    <div style="display: inline-block; margin-left: 10px;">
                                        <button type="button" class="btn-submit" 
                                                *ngIf="isAdding" 
                                                (click)="createKhachHang()" 
                                                style="text-align: center;">
                                            <i class="material-icons">add</i>Thêm khách hàng
                                        </button>
                                        
                                        <button type="button" class="btn-submit" 
                                                *ngIf="!isAdding" 
                                                (click)="updateKhachHang(newKhachHang.id)" 
                                                style="text-align: center;">
                                            <i class="material-icons">edit</i>Cập nhật khách hàng
                                        </button>
                                    </div>
                                    
                                    <div style="display: inline-block; margin-left: 10px;">
                                        <button type="button" class="btn-submit" 
                                                (click)="resetForm()" 
                                                style="text-align: center;">
                                            <i class="material-icons">note</i>Làm mới
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px;">
                    <div class="col-sm-12">
                        <div class="search-container" style="margin-top: -12px;">
                            <input type="text" [(ngModel)]="searchKeyword" (keyup)="searchKhachHang()"
                                placeholder="Nhập họ tên khách hàng, số điện thoại hoặc địa chỉ email !!"
                                class="search-input">
                        </div>
                    </div>
                </div>

            </form>
            <div class="table-responsive" style="border-radius: 8px 8px 0 0;margin-top: -15px;">
                <!-- <div class="card " style="padding: 20px; background-color: #ffffff; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);margin-top: -20px;"> -->
                <table class="table table-hover">
                    <thead style=" background-color: #003366; color: white; border-radius: 8px 8px 0 0;">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col" style="white-space: nowrap;">Mã khách hàng</th>
                            <th scope="col" style="white-space: nowrap;">Tên khách hàng</th>
                            <th scope="col" style="white-space: nowrap;">Giới tính</th>
                            <th scope="col" style="white-space: nowrap;">Ngày sinh</th>
                            <th scope="col" style="white-space: nowrap;">Email</th>
                            <th scope="col" style="white-space: nowrap;">Ảnh</th>
                            <th scope="col" style="white-space: nowrap;">Số điện thoại</th>
                                <!-- <th scope="col"style="white-space: nowrap;">Password</th> -->
                            <th scope="col" style="white-space: nowrap;">Trạng thái</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let customer of customers; let i = index">
                            <!-- Ẩn thằng khách hàng 001 đi nó là khách vãng lai -->
                            <ng-container *ngIf="customer.ma !== 'KH001'">
                                <td>{{ i }}</td>
                                <td>{{ customer.ma }}</td>
                                <td>{{ customer.ten }}</td>
                                <td>{{ customer.gioiTinh === '0' ? 'Nam' : 'Nữ' }}</td>
                                <td>{{ formatDate(customer.ngayThangNamSinh) }}</td>
                                <td>{{ customer.email }}</td>
                                <td> <img *ngIf="customer.anh" [src]="customer.anh" alt=""
                                        style="width: 50px; height: 50px; object-fit: cover;border-radius: 40px;">
                                </td>
                                <td>{{ customer.sdt }}</td>
                                <td>{{ customer.trangThai}}</td>
                                <td style="width: 220px;">
                                    <button (click)="showDetail(customer)" class="btn btn-dark-blue">
                                        <i class="material-icons">visibility</i>
                                    </button>
                                    <button (click)="updateTrangThai(customer.id)" class="btn btn-dark-blue">
                                        <i class="material-icons">swap_horiz</i>
                                    </button>
                                    <button (click)="openPopup(customer.id)" class="btn btn-dark-blue">
                                        <i class="material-icons">local_library</i>
                                    </button>
                                </td>

                            </ng-container>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="pagination">
                <button [disabled]="currentPage === 0" (click)="goToPage(currentPage - 1)">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{currentPage + 1}} of {{totalPages}}</span>
                <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
            <app-dia-chi-khach-hang *ngIf="popup" [idKhachHang]="idKhachHang"
                (closePopup)="closePopup()"></app-dia-chi-khach-hang>
            <!-- </div> -->
        </div>
    </div>
</div>