<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="color: #ffffff;"><i class="material-icons">group_add</i> Quản lý khách
                    hàng</h3>
            </div>
            <form style="width: 1100px; margin: 0 auto;" [formGroup]="khachHangForm" (ngSubmit)="createKhachHang()" #customerForm="ngForm">
                <div class="row">
                    <div class="card "
                        style="padding: 20px; background-color: #ffffff; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-row" style="display: flex; justify-content: center;">
                                    <div class="form-group upload-container">
                                        <div class="image-upload-container">
                                            <input type="file" class="form-control" id="anh" name="anh"
                                                (change)="onFileSelected($event)" required>
                                            <div class="image-preview" *ngIf="newKhachHang.anh" (click)="document.getElementById('anh').click()">
                                                <img [src]="newKhachHang.anh" alt="Ảnh nhân viên" />
                                                <div class="change-photo-overlay">
                                                </div>
                                            </div>
                                            <label for="anh" class="upload-label" *ngIf="!newKhachHang.anh"><i
                                                    class="material-icons">add_a_photo</i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <label class="form-label">Tên khách hàng</label>
                                    <input type="text" class="form-control" id="tenKhachHang"
                                        placeholder="  Nhập tên khách hàng" formControlName="ten" required>
                                    <div *ngIf="khachHangForm.get('ten').invalid && khachHangForm.get('ten').touched">
                                        <small class="text-danger" *ngIf="khachHangForm.get('ten').errors?.required">
                                            Vui lòng nhập tên khách hàng
                                        </small>
                                        <small class="text-danger" *ngIf="khachHangForm.get('ten').errors?.pattern">
                                            Tên chỉ được chứa chữ cái, khoảng trắng và dấu
                                        </small>
                                        <small class="text-danger" *ngIf="khachHangForm.get('ten').errors?.minlength">
                                            Tên phải có ít nhất 3 ký tự
                                        </small>
                                        <small class="text-danger" *ngIf="khachHangForm.get('ten').errors?.maxlength">
                                            Tên không được vượt quá 25 ký tự
                                        </small>
                                        <small class="text-danger" *ngIf="validationErrors?.ten">
                                            {{ validationErrors.ten }}
                                        </small>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <label class="form-label" for="ngayThangNamSinh">Ngày sinh</label>
                                    <input type="date" class="form-control" id="ngayThangNamSinh"
                                        formControlName="ngayThangNamSinh" required>
                                    <div
                                        *ngIf="khachHangForm.get('ngayThangNamSinh').invalid && khachHangForm.get('ngayThangNamSinh').touched">
                                        <small class="text-danger"
                                            *ngIf="khachHangForm.get('ngayThangNamSinh').errors?.required">
                                            Ngày sinh không được để trống.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="khachHangForm.get('ngayThangNamSinh').errors?.ageInvalid">
                                            Ngày sinh phải lớn hơn hoặc bằng 18 tuổi.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="khachHangForm.get('ngayThangNamSinh').errors?.ageTooHigh">
                                            Ngày sinh phải nhỏ hơn 100 tuổi.
                                        </small>
                                        <small class="text-danger" *ngIf="validationErrors?.ngayThangNamSinh">
                                            {{ validationErrors.ngayThangNamSinh }}
                                        </small>
                                    </div>
                                </div>
                                <div class="mt-4">
                                        <label class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="sdt"
                                            placeholder="  Nhập số điện thoại" formControlName="sdt" required>
                                        <div *ngIf="khachHangForm.get('sdt').invalid && khachHangForm.get('sdt').touched">
                                            <small class="text-danger"
                                                *ngIf="khachHangForm.get('sdt').errors?.required">
                                                Số điện thoại không được để trống.
                                            </small>
                                            <small class="text-danger"
                                                *ngIf="khachHangForm.get('sdt')?.errors?.pattern">
                                                Số điện thoại .
                                            </small>
                                            <small class="text-danger" *ngIf="validationErrors?.sdt">
                                                {{ validationErrors.sdt }}
                                            </small>
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <label class="form-label">Giới tính</label>
                                    <div style="display: flex; align-items: center;margin-top: 5px;">
                                        <div style="margin-right: 20px; white-space: nowrap;">
                                            <input style="margin-right: 8px;" type="radio" id="gioiTinhNam"
                                                formControlName="gioiTinh" name="gioiTinh" value="0" required>
                                            <label for="gioiTinhNam">Nam</label>
                                        </div>
                                        <div style="margin-right: 20px; white-space: nowrap;">
                                            <input style="margin-right: 8px;" type="radio" id="gioiTinhNu"
                                                formControlName="gioiTinh" name="gioiTinh" value="1">
                                            <label for="gioiTinhNu">Nữ</label>
                                        </div>
                                        <div style="white-space: nowrap;">
                                            <input style="margin-right: 8px;" type="radio" id="gioiTinhKhac"
                                                formControlName="gioiTinh" value="2">
                                            <label for="gioiTinhKhac">Khác</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4" style="margin-top: 12px;">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" placeholder="  Nhập email"
                                        formControlName="email" required>
                                    <div
                                        *ngIf="khachHangForm.get('email').invalid && khachHangForm.get('email').touched">
                                        <small class="text-danger"
                                            *ngIf="khachHangForm.get('email').errors?.required">Email không được để
                                            trống.</small>
                                        <small class="text-danger"
                                            *ngIf="khachHangForm.get('email').errors?.email">Email
                                            không
                                            hợp lệ.</small>
                                        <small class="text-danger" *ngIf="validationErrors?.email">{{
                                            validationErrors.email }}</small>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <label class="form-label">Trạng thái</label>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="trangThaiHoatDong"
                                            formControlName="trangThai" name="trangThai" value="Đang hoạt động"
                                            required>
                                        <label for="trangThaiHoatDong" style="margin-right: 20px;">Đang hoạt
                                            động</label>
                                    </div>
                                    <div style="margin-left: 8px;">
                                        <input style="margin-right: 12px;" type="radio" id="trangThaiKhongHoatDong"
                                            formControlName="trangThai" name="trangThai" value="Không hoạt động">
                                        <label for="trangThaiKhongHoatDong">Không hoạt động</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-12 text-end">
                                <div class="text-center mt-2.5">
                                    <div style="display: inline-block; margin-left: 10px;">
                                        <button type="submit" class="btn-submit btn-dark-blue" *ngIf="isAdding"
                                            style="text-align: center;">
                                            <i class="material-icons">add</i>Thêm khách hàng
                                        </button>

                                        <button type="button" class="btn-submit btn-dark-blue" *ngIf="!isAdding"
                                            (click)="updateKhachHang(updateKhachHangData.id)" style="text-align: center;">
                                            <i class="material-icons">edit</i>Cập nhật khách hàng
                                        </button>
                                    </div>

                                    <div style="display: inline-block; margin-left: 10px;">
                                        <button type="button" class="btn-submit btn-dark-blue" (click)="resetForm()"
                                            style="text-align: center;">
                                            <i class="material-icons">note</i>Làm mới
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px;">
                    <div class="col-sm-12">
                        <div class="search-container" style="margin-top: -12px;">
                            <input type="text" [(ngModel)]="searchKeyword" (keyup)="searchKhachHang()"
                                placeholder="Nhập họ tên khách hàng, số điện thoại hoặc địa chỉ email !!"
                                class="search-input">
                        </div>
                    </div>
                </div>

            </form>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="text-primary">
                        <tr>
                            <th scope="col" style="border: 1px solid #ddd;">STT</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Mã khách hàng</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Tên khách hàng</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Giới tính</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Ngày sinh</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;text-align: center;">Email</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Ảnh</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Số điện thoại</th>
                            <th scope="col" style="white-space: nowrap; border: 1px solid #ddd;">Trạng thái</th>
                            <th scope="col" style="border: 1px solid #ddd;text-align: center;">Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let customer of customers; let i = index">
                            <ng-container *ngIf="customer.ma !== 'KH001'">
                                <td style="border: 1px solid #ddd;text-align: center;">{{ i }}</td>
                                <td style="border: 1px solid #ddd;text-align: center;">{{ customer.ma }}</td>
                                <td style="border: 1px solid #ddd;">{{ customer.ten }}</td>
                                <td style="border: 1px solid #ddd;text-align: center;">{{ customer.gioiTinh === '0' ? 'Nam' : (customer.gioiTinh === '1' ? 'Nữ' : 'Khác') }}</td>
                                <td style="border: 1px solid #ddd;">{{ formatDate(customer.ngayThangNamSinh) }}</td>
                                <td style="border: 1px solid #ddd;">{{ customer.email }}</td>
                                <td style="border: 1px solid #ddd;">
                                    <img *ngIf="customer.anh" [src]="customer.anh" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 40px;">
                                </td>
                                <td style="border: 1px solid #ddd;text-align: center;">{{ customer.sdt }}</td>
                                <td style="border: 1px solid #ddd;">
                                    <span [ngClass]="{'badge-danger': customer.trangThai === 'Không hoạt động', 'badge-success': customer.trangThai === 'Đang hoạt động'}" style="border-radius: 8px;">{{ customer.trangThai }}
                                    </span>
                                </td>
                                <td style="width: 220px; border: 1px solid #ddd;">
                                    <button (click)="showDetail(customer)" class="btn btn-dark-blue">
                                        <i class="material-icons">visibility</i>
                                    </button>
                                    <button (click)="updateTrangThai(customer.id)" class="btn btn-dark-blue">
                                        <i class="material-icons">swap_horiz</i>
                                    </button>
                                    <button (click)="openPopup(customer.id)" class="btn btn-dark-blue">
                                        <i class="material-icons">local_library</i>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <button [disabled]="currentPage === 0" (click)="goToPage(currentPage - 1)">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{currentPage + 1}} of {{totalPages}}</span>
                <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
            <app-dia-chi-khach-hang *ngIf="popup" [idKhachHang]="idKhachHang"
                (closePopup)="closePopup()"></app-dia-chi-khach-hang>
            <!-- </div> -->
        </div>
    </div>
</div>