<div class="popup">
    <div class="content">
        <span class="close" (click)="close()">×</span>
        <form (ngSubmit)="create()">
            <div class="row">
                <label for="urlAnh">
                    <i class="material-icons">upload_file</i> Upload Ảnh
                </label>
                <input type="file" class="form-control" id="urlAnh" (change)="onFileSelected($event)" required>
                <span *ngIf="validate" style="color: red;">vui lòng chọn ảnh</span>
                <img *ngIf="urlAnh" [src]="urlAnh" alt="Ảnh sản phẩm chi tiết"
                    class="img-thumbnail" width="70">
            </div>
            <div style="display: inline-block; margin: 10px;">
                <button type="submit" class="btn-submit">
                    <i class="material-icons">person_add</i> Thêm
                </button>
            </div>
            <div style="display: inline-block;  margin: 10px;">
                <button (click)="update(idAnhDetail)" class="btn-submit" type="button"
                    [disabled]="!idAnhDetail">
                    <i class="material-icons">update</i> Cập Nhật
                </button>
            </div>
        </form>

        <!-- Table hiển thị danh sách ảnh chi tiết sản phẩm -->
        <div class="row">
            <table class="table table-bordered" id="customerTable">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên chi tiết sản phẩm</th>
                        <th>Url Ảnh</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.chiTietSanPham.ten }}</td>
                        <td> <img *ngIf="product.urlAnh" [src]="product.urlAnh" alt=""
                                style="width: 50px; height: 50px; object-fit: cover;"></td>
                        <td>
                            <button (click)="detail(product.id)" class="btn btn-info" style="white-space: nowrap;">
                                <i class="material-icons" style="white-space: nowrap;">visibility</i>
                                <span class="btn-text" style="white-space: nowrap;">Xem Chi Tiết</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <div class="pagination">
                    <!-- Nút về trang trước, nếu là trang đầu tiên thì bị vô hiệu hóa -->
                    <button class="btn btn-secondary" [disabled]="currentPage === 0"
                        (click)="goToPage(currentPage - 1)">
                        <i class="material-icons">skip_previous</i>
                    </button>
                    <!-- Hiển thị số trang -->
                    <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
                        <button class="btn btn-primary" [class.active]="i === currentPage" (click)="goToPage(i)">
                            {{ i + 1 }}
                        </button>
                    </ng-container>

                    <!-- Nút về trang sau, nếu là trang cuối thì bị vô hiệu hóa -->
                    <button class="btn btn-secondary" [disabled]="currentPage === totalPages - 1"
                        (click)="goToPage(currentPage + 1)"><i class="material-icons">skip_next</i>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</div>