.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

button {
  background-color: #003366;
}

a {
  color: rgb(94, 94, 208);
}

button:hover {
  background-color: #186793;
}

.image_login {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 155px;
  margin-bottom: 10px;
}
span :hover{
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 12px;
}

input::placeholder {
  font-size: 11px; /* Thay đổi kích thước chữ */
  color: #999; /* Màu sắc của placeholder, có thể thay đổi */
}