<div class="popup">
    <div class="popup-content">
        <span class="close" (click)="close()">×</span>
        <h2 class="text-center mb-3">Chi Tiết Hóa Đơn</h2>
        <div class="table-responsive">
            <table class="table table-bordered custom-table">
                <thead class="table-secondary">
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Tên sản phẩm</th>
                        <th>Giới tính</th>
                        <th>Đơn giá</th>
                        <th>Số lượng mua</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let chiTiet of hoaDonChiTiet; let j = index">
                        <td>{{ chiTiet.hoaDon.ma }}</td>
                        <td>{{ chiTiet.chiTietSanPham.sanPham.ten }} - {{ chiTiet.chiTietSanPham.sanPham.thuongHieu.ten
                            }} - {{ chiTiet.chiTietSanPham.mauSac.ten }} - {{ chiTiet.chiTietSanPham.size.ten }}</td>
                        <td>{{ chiTiet.chiTietSanPham.sanPham.gioiTinh.ten }}</td>
                        <td>{{ chiTiet.chiTietSanPham.donGia | number:'1.0-0' }} VND</td>
                        <td>{{ chiTiet.soLuong }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>