<div class="pos_page">
  <div class="container">
    <div class="pos_page_inner">
      <div class="content-left">
        <div style="display: flex; padding: 10px;" *ngFor="let gioHang of chiTietGioHang">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="gioHang.checked" (change)="onCheckboxChange(gioHang)">
          </div>
          <div>
            <img [src]="gioHang.urlAnh?.urlAnh" alt="Ảnh sản phẩm">
          </div>
          <div class="name-san-pham">
            <h3>{{gioHang.chiTietSanPham?.sanPham?.ten}} {{gioHang.chiTietSanPham?.size?.ten}}
              {{gioHang.chiTietSanPham?.mauSac?.ten}}</h3>
          </div>
          <div class="so-luong" style="display: flex; justify-content: center;">
            <span class="material-icons" (click)="xoaSanPham(gioHang.id)">remove</span>
            <h4>{{gioHang.soLuong}}</h4>
            <span class="material-icons" (click)="themSanPham(gioHang.chiTietSanPham?.id)">add</span>
          </div>
          <div class="gia">
            <h3>{{ (gioHang.chiTietSanPham?.donGia * gioHang.soLuong) | number:'1.0-0' }}</h3> VNĐ
            <span class="material-icons" (click)="remove(gioHang.id)">delete</span>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div>
          <input type="text" placeholder="nhập voucher">
        </div>
        <H2>Thông tin đơn hàng</H2>
        <div>
          <span>Tổng tiền: {{tongTien | number:'1.0-0'}} VNĐ</span>
        </div>
        <div>
          <span>Giá trị giảm: {{giaTriGiam | number:'1.0-0'}} VNĐ</span>
        </div>
        <div>
          <span>Phí vận chuyển: {{phiVanChuyen | number:'1.0-0'}} VNĐ</span>
        </div>
        <div>
          <span>Cần thanh toán: {{canThanhToan | number:'1.0-0'}} VNĐ</span>
        </div>
        <div>
          <span>Phương thức thanh toán: </span>
          <select class="form-select" aria-label="Default select example">\
            <option value="1">Thanh toán khi nhận hàng</option>
            <option value="2">Chuyển khoản</option>
          </select>
        </div>
        <div>
          <button (click)="tienHanhXuLy()">Đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>