<div class="pos_page">
  <div class="container">
    <div class="pos_page_inner">
      <div class="content-left">
        <div style="display: flex; padding: 10px;" *ngFor="let gioHang of chiTietGioHang">
          <div class="form-check">
            <input type="checkbox" [checked]="gioHang.trangThai === 'active'"  (change)="onChangCheck(gioHang.id)">
          </div>
          <div>
            <img [src]="gioHang.urlAnh?.urlAnh" alt="Ảnh sản phẩm">
          </div>
          <div class="name-san-pham">
            <h3>{{gioHang.chiTietSanPham?.sanPham?.ten}} {{gioHang.chiTietSanPham?.size?.ten}}
              {{gioHang.chiTietSanPham?.mauSac?.ten}}</h3>
          </div>
          <div class="so-luong" style="display: flex; justify-content: center;">
            <span class="material-icons" (click)="xoaSanPham(gioHang.id)">remove</span>
            <h4>{{gioHang.soLuong}}</h4>
            <span class="material-icons" (click)="themSanPham(gioHang.chiTietSanPham?.id)">add</span>
          </div>
          <div class="gia">
            <h3>{{ (gioHang.chiTietSanPham?.donGia * gioHang.soLuong) | number:'1.0-0' }}</h3> VNĐ
            <span class="material-icons" (click)="remove(gioHang.id)">delete</span>
          </div>
        </div>
      </div>
      <div class="content-right">
        <H2>Thông tin đơn hàng</H2>
        <div>
          <span>Tổng tiền: {{tongTien | number:'1.0-0'}} VND</span>
        </div>
        <div>
          <span>Giá trị giảm: {{giaTriGiam | number:'1.0-0'}} VND</span>
        </div>
        <div>
          <span>Phí vận chuyển: {{phiVanChuyen | number:'1.0-0'}} VND</span>
        </div>
        <div>
          <span>Cần thanh toán: {{canThanhToan+phiVanChuyen | number:'1.0-0'}} VND</span>
        </div>
        <div>
          <label for="voucherSelect">Chọn Voucher:</label>
          <select id="voucherSelect" (change)="onChangeVoucher($event)">
            <option value="">--Chọn Voucher</option>
            <option *ngFor="let item of voucher" [value]="item.id">
              {{ item.ten }}
            </option>
          </select>
        </div>

        <div class="address-container">
          <div class="address-row">
            
            <!-- Số nhà -->
            <div class="form-group">
              <label for="soNha">Tên người nhận:</label>
              <input id="soNha" type="text" [(ngModel)]="tenNguoiNhan" (input)="onAddressInput()" placeholder="Tên người nhận"
                [(ngModel)]="tenNguoiNhan" />
                <div *ngIf="errors['tenNguoiNhan']" class="text-danger">{{ errors['tenNguoiNhan'] }}</div>
            </div>
            <!-- Số nhà -->
            <div class="form-group">
              <label for="soNha">Số nhà:</label>
              <input id="soNha" type="text" [(ngModel)]="soNha" (input)="onAddressInput()" placeholder="Nhập số nhà"
                [(ngModel)]="soNha" />
                <div *ngIf="errors['soNha']" class="text-danger">{{ errors['soNha'] }}</div>
            </div>

            <!-- Đường -->
            <div class="form-group">
              <label for="duong">Đường:</label>
              <input id="duong" type="text" [(ngModel)]="duong" (input)="onAddressInput()" placeholder="Nhập tên đường"
                [(ngModel)]="duong" />
                <div *ngIf="errors['duong']" class="text-danger">{{ errors['duong'] }}</div>
            </div>
          </div>

          <div class="address-row">
            <!-- Chọn tỉnh/thành -->
            <div class="form-group">
              <label for="tinhThanhSelect">Tỉnh/Thành:</label>
              <select id="tinhThanhSelect" [(ngModel)]="selectedTinhThanh" (change)="onTinhThanhChange($event)">
                <option value="" disabled selected>Chọn tỉnh/thành</option>
                <option *ngFor="let province of provinces" [value]="province.ProvinceID">
                  {{ province.ProvinceName }}
                </option>
              </select>
              <div *ngIf="errors['selectedTinhThanh']" class="text-danger">{{ errors['selectedTinhThanh'] }}</div>
            </div>

            <!-- Chọn quận/huyện -->
            <div class="form-group">
              <label for="quanHuyenSelect">Quận/Huyện:</label>
              <select id="quanHuyenSelect" [(ngModel)]="selectedQuanHuyen" (change)="onQuanHuyenChange($event)"
                [disabled]="!districts.length">
                <option value="" disabled selected>Chọn quận/huyện</option>
                <option *ngFor="let district of districts" [value]="district.DistrictID">
                  {{ district.DistrictName }}
                </option>
              </select>
              <div *ngIf="errors['selectedQuanHuyen']" class="text-danger">{{ errors['selectedQuanHuyen'] }}</div>
            </div>

            <!-- Chọn phường/xã -->
            <div class="form-group">
              <label for="phuongXaSelect">Phường/Xã:</label>
              <select id="phuongXaSelect" [(ngModel)]="selectedPhuongXa" (change)="onPhuongXaChange($event)"
                [disabled]="!wards.length">
                <option value="" disabled selected>Chọn phường/xã</option>
                <option *ngFor="let ward of wards" [value]="ward.WardCode">
                  {{ ward.WardName }}
                </option>
              </select>
              <div *ngIf="errors['selectedPhuongXa']" class="text-danger">{{ errors['selectedPhuongXa'] }}</div>
            </div>
          </div>

          <div class="address-row">
            <!-- Email -->
            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" type="email" name="email" placeholder="Nhập email" [(ngModel)]="emailNguoiNhan" />
              <div *ngIf="errors['emailNguoiNhan']" class="text-danger">{{ errors['emailNguoiNhan'] }}</div>
            </div>

            <!-- Số điện thoại -->
            <div class="form-group">
              <label for="phone">Số điện thoại:</label>
              <input id="phone" type="tel" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="sdtNguoiNhan" />
              <div *ngIf="errors['sdtNguoiNhan']" class="text-danger">{{ errors['sdtNguoiNhan'] }}</div>
            </div>
          </div>
        </div>
        <div>
          <span>Phương thức thanh toán: </span>
          <select class="form-select" aria-label="Default select example" (change)="onPaymentMethodChange($event)">
            <option value="1">Thanh toán khi nhận hàng</option>
            <option value="2">Chuyển khoản</option>
          </select>
        </div>
        <div>
          <button (click)="tienHanhXuLy()">Đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>