<table class="product-table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Xuất xứ</th>
            <th>Thương hiệu</th>
            <th>Chất liệu</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let SanPham of SanPham">
            <td>1</td>
            <td>{{ SanPham.ma }}</td>
            <td>{{ SanPham.ten }}</td>
            <td>{{ SanPham.xuatXu.ten }}</td>
            <td>{{ SanPham.thuongHieu.ten }}</td>
            <td>{{ SanPham.chatLieu.ten }}</td>
            <td>{{ SanPham.trangThai }}</td>
            <td>
                <button class="btn-detail">Chi tiết</button>
            </td>
        </tr>
    </tbody>
</table>