<div class="content-top">
<h2>Thêm Sản Phẩm</h2>
<div class="section">
    <div class="section-content">
        <div class="form-group">
            <label>Mã sản phẩm:</label>
            <input type="text" placeholder="Nhập mã sản phẩm" [(ngModel)]="newSanPham.ma">
        </div>
        <div class="form-group">
            <label>Tên sản phẩm:</label>
            <input type="text" placeholder="Nhập tên sản phẩm" [(ngModel)]="newSanPham.ten">
        </div>
    </div>
    <div class="section-content">
        <div class="form-group">
            <label>Xuất xứ:</label>
            <select id="filterSelect" class="filter-select" [(ngModel)]="newSanPham.xuatXu.id">
                <option [ngValue]="0" disabled selected hidden>Chọn xuất xứ--</option>
                <option *ngFor="let xuatXu of xuatXuOptions" [value]="xuatXu.id">{{ xuatXu.ten }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Thương hiệu:</label>
            <select id="filterSelect" class="filter-select" [(ngModel)]="newSanPham.thuongHieu.id">
                <option [ngValue]="0" disabled selected hidden>Chọn thương hiệu--</option>
                <option *ngFor="let thuongHieu of thuongHieuOptions" [value]="thuongHieu.id">{{thuongHieu.ten}}</option>
            </select>
        </div>
    </div>
    <div class="section-content">
        <div class="form-group">
            <label>Chất liệu:</label>
            <select id="filterSelect" class="filter-select" [(ngModel)]="newSanPham.chatLieu.id">
                <option [ngValue]="0" disabled selected hidden>Chọn chất liệu--</option>
                <option *ngFor="let chatLieu of chatLieuOptions" [value]="chatLieu.id">{{ chatLieu.ten }}</option>
            </select>
        </div>
        <div class="form__group">
            <label>Trạng thái:</label>
            <div class="radio-group">
                <label>
                    <input type="radio" name="status" value="Đang hoạt động" [(ngModel)]="newSanPham.trangThai" checked>Đang hoạt động
                </label>
                <label>
                    <input type="radio" name="status" value="Ngừng hoạt động" [(ngModel)]="newSanPham.trangThai">Ngừng hoạt động
                </label>
            </div>
        </div>
    </div>
    <div class="section-content">
        <button class="btn-add" (click)="addSanPham()">Thêm</button>
        <button class="btn-add-details" onclick="navigateTo('SanPhamChiTiet.html')">Chi tiết sản phẩm</button>
        <button class="btn-update" onclick="showSuccessToast();">Cập nhật</button>
    </div>
</div>
<div class="section-details">
    <h2>Sản phẩm</h2>
    <div class="filter">
        <input type="text" placeholder="Nhập tên sản phẩm or mã sản phẩm..." [(ngModel)]="searchTerm"
            (input)="searchSanPham()">
        <button class="search-btn" (click)="searchSanPham()"><i class="fas fa-search"></i></button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Xuất xứ</th>
                <th>Thương hiệu</th>
                <th>Chất liệu</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let SanPham of sanPhamList;let i = index">
                <td>{{ currentPage * pageSize + (i + 1) }}</td>
                <td>{{ SanPham.ma }}</td>
                <td>{{ SanPham.ten }}</td>
                <td>{{ SanPham.xuatXu.ten }}</td>
                <td>{{ SanPham.thuongHieu.ten }}</td>
                <td>{{ SanPham.chatLieu.ten }}</td>
                <td>{{ SanPham.trangThai }}</td>
                <td>
                    <button class="btn-detail">Chi tiết</button>
                    <button class="btn-add-detail">Thêm chi tiết</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button class="page-btn" (click)="previousPage()">Prev</button>
        <label for=""> {{ currentPage +1 }} of {{totalPages.length}} </label>
        <button class="page-btn" (click)="nextPage()">Next</button>
    </div>
</div>