/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-content {
    flex: 1;
    padding:5px 20px;
    background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
    background-color: #F2CBAE;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.welcome-message {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #E6B37C;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.sidebar-btn:hover {
    background-color: #D4A26D;
}

/* Tabs */
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 20px;
    background-color: #dcdcdc;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.tab-btn:hover {
    background-color: #ccc;
}

/* Product Table */
.product-table {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.product-table h2 {
    margin-top: 0;
    text-align: center;
}

.product-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #e9f7ef;
}

/* Buttons */
.select-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: #2980b9;
}

.create-invoice-btn, .create-customer-btn {
    width: 50%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

.create-customer-btn {
    margin-left: 5px;
}

.create-invoice input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.payment-btn {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-btn:hover {
    background-color: #27ae60;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #eee;
}

/* Search Box */
.search-box, .search-customer {
    display: flex;
    margin-bottom: 20px;
}

.search-box input, .search-customer input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-btn, .search-btn-customer {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: 1px solid #333;
    cursor: pointer;
}

.search-btn-customer {
    height: 37px;
    margin-top: 10px;
}

/* Tab Bar */
.tab-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    color: #007bff;
}

.tab-button:hover {
    color: #0056b3;
}

.tab-button.active {
    color: black;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.tab-button:focus {
    outline: none;
}

/* Toast Message */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon, .toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.content-top{
    display: flex;
    margin-top: 0px;
}
.section{
    width: 40%;
    border: 1px solid gray;
    padding:5px 10px;
    border-radius: 5%;
}
.section h2{
    text-align: center;
}
.section-center{
    padding: 10px;
    margin-left: 20px;
    border: 1px solid gray;
    width: 50%;
    border-radius: 5%;
}
.section-center h2{
    text-align: center;
}
.section-right{
    padding: 10px;
    margin-left: 20px;
    width: 10%;
    border-radius: 5%;
}
.section-right button{
    margin-top: 10px;
    width: 100px;
}
.section-details{
    margin-top: 5px;
}
.section-details h2{ 
    text-align: center;
}
  /* Form Group */
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  .form-group .box-group .filter-select{
    width: 90%;
  }
  .form-group .filter-select{
    width: 100%;
  }
  .btn-add, .btn-add-details, .btn-update {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 7%;
  }
  .btn-update{
    background-color: rgb(199, 199, 77);
  }
  .btn-update:hover{
    background-color: rgb(216, 216, 96);
  }
  .btn-add-details {
    background-color: #f0ad4e;
  }
  
 .btn-add-details:hover {
    background-color: #ec971f;
  }
  .btn-add:hover{
    background-color: #319734;
  }
  .box-group{
    display: flex;
  }
  .box-group input{
    width: 90%;
  }
  .box-group button{
    width: 10%;
    cursor: pointer;
  }
  
  /* Product Table */
  .product-table, .product-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .product-table th, .product-table td,
  .product-detail-table th, .product-detail-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .product-table th, .product-detail-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .product-table tbody tr:nth-child(even),
  .product-detail-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .product-table tbody tr:hover,
  .product-detail-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Detail Button */
  .btn-detail, .btn-add-detail {
    padding: 5px 10px;
    background-color: #f0ad4e;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btn-detail:hover, .btn-add-detail:hover {
    background-color: #ec971f;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .page-btn {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .page-btn:hover {
    background-color: #ccc;
  }
  
  .filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .filter input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  
  .search-btn {
    padding: 8px 12px;
    background-color: #5bc0de;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
  
  .search-btn:hover {
    background-color: #31b0d5;
  }
  /* filter */
  .filter-product {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-label {
    font-size: 16px;
    margin-right: 10px;
}

.filter-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #2980b9;
}
.filter-content input{
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.filter-content button{
    padding: 8px 12px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10%;
}
.filter-content button:hover{
    background-color: rgb(76, 72, 72);
}

/* radio group */
.form__group{
    display: flex;
    margin-bottom: 15px;
}
.radio-group {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}