body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #F2CBAE;
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 120px;
}
.logo img {
    width: 100%;
}

.welcome-message {
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sidebar-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #E6B37C;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

.sidebar-btn:hover {
    background-color: #D4A26D;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 20px;
    background-color: #dcdcdc;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.tab-btn:hover {
    background-color: #ccc;
}

.product-table {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.product-table h2 {
    margin-top: 0;
    text-align: center;
}

.product-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #e9f7ef;
}

.select-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.select-btn:hover {
    background-color: #2980b9;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #eee;
}

.right-panel {
    width: 300px;
    padding: 20px;
    background-color: #e9ecef;
}

.search-box {
    display: flex;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
}
.search-customer{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.search-customer input{
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
}
.search-btn-customer{
    height: 37px;
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.search-btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: 1px solid #333;
    cursor: pointer;
}

.create-invoice {
    margin-bottom: 20px;
}
.button-box{
    display: flex;
}
.create-customer-btn{
    width: 50%;
    margin-left: 5px;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}
.create-invoice input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.create-invoice-btn {
    width: 50%;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-section {
    margin-bottom: 20px;
}

.payment-section p {
    margin: 10px 0;
    font-size: 14px;
}

.payment-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.payment-btn {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

.payment-btn:hover {
    background-color: #27ae60;
}
/* tab bar */
.tab-bar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tab-button {
    background-color: transparent;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    color: #007bff; /* Màu chữ */
}

.tab-button:hover {
    color: #0056b3; /* Màu chữ khi hover */
}

.tab-button.active {
    color: black; /* Màu chữ cho tab đang hoạt động */
    border-bottom: 2px solid black;
    font-weight: bold;
}

.tab-button:focus {
    outline: none;
}



/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .toast i{
    margin: 0 20px;
    font-size: 35px;
  }
  .toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
  }
  @keyframes anim {
    100%{
        width: 0;
    }
  }