<!--pos page start-->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--header area -->
            <div class="header_area">
                <!--header top-->
                <div class="header_top">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header_links">
                                <ul>
                                    <li><a *ngIf="hoTen!=''">Xin chào, {{hoTen}}</a></li>
                                    <li><a (click)="getRedirectTaiKhoan()"title="Tài khoản" *ngIf="hoTen!=''">Tài khoản</a></li>
                                    <li><a (click)="openPopupDangNhap()" title="Đăng nhập" *ngIf="hoTen==''">Đăng nhập</a></li>
                                    <li><a href="my-account.html" title="Đăng kí" *ngIf="hoTen==''">Đăng ký</a></li>
                                    <li><a *ngIf="hoTen!=''" (click)="logout()" title="Đăng xuất">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <app-dang-nhap *ngIf="popupDangNhap" (closePopup)="closePopupDangNhap()"></app-dang-nhap>
                    </div>
                </div>
                <div class="header_middel">
                    <div class="row align-items-center">
                        <!--logo start-->
                        <div class="col-lg-3 col-md-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.jpg.png" alt="Ảnh logo">
                                </a>
                            </div>
                        </div>
                        <!--logo end-->
                        <div class="col-lg-9 col-md-9">
                            <div class="header_right_info">
                                <div class="search_bar">
                                    <form action="#">
                                        <input placeholder="Search..." type="text">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="shopping_cart">
                                    <a href="#"><i class="fa fa-shopping-cart"></i> 2Items - $209.44 <i
                                            class="fa fa-angle-down"></i></a>

                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets\img\cart\cart.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">lorem ipsum dolor</a>
                                                <span class="cart_price">$115.00</span>
                                                <span class="quantity">Qty: 1</span>
                                            </div>
                                            <div class="cart_remove">
                                                <a title="Remove this item" href="#"><i
                                                        class="fa fa-times-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets\img\cart\cart2.jpg" alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">Quisque ornare dui</a>
                                                <span class="cart_price">$105.00</span>
                                                <span class="quantity">Qty: 1</span>
                                            </div>
                                            <div class="cart_remove">
                                                <a title="Remove this item" href="#"><i
                                                        class="fa fa-times-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="shipping_price">
                                            <span> Shipping </span>
                                            <span> $7.00 </span>
                                        </div>
                                        <div class="total_price">
                                            <span> total </span>
                                            <span class="prices"> $227.00 </span>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html"> Check out</a>
                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--header middel end-->
                <div class="header_bottom">
                    <div class="row">
                        <div class="col-12">
                            <div class="main_menu_inner">
                                <div class="main_menu d-none d-lg-block">
                                    <nav>
                                        <ul>
                                            <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                                                <a class="nav-link" [routerLink]="[menuItem.path]">{{menuItem.title}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu d-lg-none">
                                    <nav>
                                        <ul>
                                            <li *ngFor="let menuItem of menuItems">
                                                <a class="nav-link" [routerLink]="[menuItem.path]">{{menuItem.title}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>