<!--pos page start-->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--header area -->
            <div class="header_area">
                <!--header top-->
                <div class="header_top">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header_links">
                                <ul>
                                    <li><a *ngIf="hoTen!=''">Xin chào, {{hoTen}}</a></li>
                                    <li><a (click)="getRedirectTaiKhoan()" title="Tài khoản" *ngIf="hoTen!=''">Tài
                                            khoản</a></li>
                                    <li><a (click)="openPopupDangNhap()" title="Đăng nhập" *ngIf="hoTen==''">Đăng
                                            nhập</a></li>
                                    <li><a (click)="openPopUpDangKy()" title="Đăng kí" *ngIf="hoTen==''">Đăng ký</a>
                                    </li>
                                    <li><a *ngIf="hoTen!=''" (click)="logout()" title="Đăng xuất">Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <app-dang-nhap *ngIf="popupDangNhap" (closePopup)="closePopupDangNhap()"></app-dang-nhap>
                        <app-dang-ky *ngIf="popupDangKy" (closePopup)="closePopupDangKy()"></app-dang-ky>
                    </div>
                </div>
                <div class="header_middel">
                    <div class="row align-items-center">
                        <!--logo start-->
                        <div class="col-lg-3 col-md-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/img/logo/logo.jpg.png" alt="Ảnh logo">
                                </a>
                            </div>
                        </div>
                        <!--logo end-->
                        <div class="col-lg-9 col-md-9">
                            <div class="header_right_info">
                                <div class="search_bar">
                                    <form action="#">
                                        <input placeholder="Search..." type="text">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="shopping_cart" style="cursor: pointer;">
                                    <a (click)="getRedirectGioHang()" title="Giỏ hàng"><i
                                            class="fa fa-shopping-cart"></i> <i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--header middel end-->
                    <div class="header_bottom">
                        <div class="row">
                            <div class="col-12">
                                <div class="main_menu_inner">
                                    <div class="main_menu d-none d-lg-block">
                                        <nav>
                                            <ul>
                                                <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                                                    <a class="nav-link"
                                                        [routerLink]="[menuItem.path]">{{menuItem.title}}</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="mobile-menu d-lg-none">
                                        <nav>
                                            <ul>
                                                <li *ngFor="let menuItem of menuItems">
                                                    <a class="nav-link"
                                                        [routerLink]="[menuItem.path]">{{menuItem.title}}</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>