.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.header_bottom{
    background: linear-gradient(135deg, #3a6f9e 0%, #4fb0d1 100%);
}
.main_menu nav ul :hover{
    background: linear-gradient(135deg, #184e7c 0%, #2083a3 100%);
}
.main_menu nav ul  li.active a{
    background: linear-gradient(135deg, #184e7c 0%, #2083a3 100%);
}
.main_menu nav  ul  li  a{
    text-transform: none;
}