<div class="sidebar">
    <div class="logo">
      <img src="assets/image/Logo.png" alt="F5 STORE">
    </div>
    <div class="welcome-message">
      <p>Welcome, Hà Thanh Tùng</p>
    </div>
    <button class="sidebar-btn" onclick="navigateTo('BanHangHoaDon.html')">Bán hàng tại quầy</button>
    <button class="sidebar-btn" onclick="navigateTo('SanPham.html')">Quản lý sản phẩm</button>
    <button class="sidebar-btn">Quản lý hóa đơn</button>
    <button class="sidebar-btn">Thống kê</button>
    <button class="sidebar-btn">Quản lý mã giảm giá</button>
    <button class="sidebar-btn">Quản lý tài khoản</button>
    <button class="sidebar-btn">Khách hàng</button>
    <button class="sidebar-btn">Đăng xuất</button>
  </div>
