<div class="pos_page">
    <div class="container">
        <div class="pos_page_inner">
            <div class="footer_area">
                <div class="footer_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Giới thiệu</h3>
                                    <p>F5-STORE</p>
                                    <p>Chuỗi phân phối thời trang nam, nữ chuẩn hiệu, tôn vinh vẻ đẹp người Việt</p>
                                    <div class="footer_widget_contect">
                                        <p><i class="fa fa-mobile" aria-hidden="true"></i> 0345.97.97.97</p>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            tunghtph33205@fpt.edu.vn
                                        </a>
                                        <p><i class="fa fa-phone"></i>Wholesale Contract: 0345.97.97.97</p>
                                        <p><i class="fa fa-phone"></i>Giờ mở cửa: 8:30 - 22:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Chính sách</h3>
                                    <ul>
                                        <li><a href="#">Hướng dẫn đặt hàng</a></li>
                                        <li><a href="#">Thông tin chuyển khoản</a></li>
                                        <li><a href="#">Chính sách ưu đãi</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Tư vấn</h3>
                                    <ul>
                                        <li><a href="#"> Tư vấn phong cách</a></li>
                                        <li><a href="#"> Tư vấn chọn size </a></li>
                                        <li><a href="#"> Hỏi đáp </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Fanpage chúng tôi</h3>
                                    <ul>
                                        <li><a href="#"> F5-store</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer_widget">
                                    <h3>Phương thức thanh toán</h3>
                                    <ul>
                                        <li >
                                            <img src="./assets/img/visha/cod.jpg" alt="">
                                            <img src="./assets/img/visha/paypal.png" alt="">
                                            <img src="./assets/img/visha/visa.jpg" alt="">
                                            <img src="./assets/img/visha/Vnpay.jpg" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="copyright_area">
                                    <span>BẢN QUYỀN THUỘC VỀ F5-STORE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>