/* Trong sanpham.component.css */
.invalid-field {
    border-color: red !important; /* Đổi màu viền cho các trường không hợp lệ */
}

.text-danger {
    color: red; /* Màu chữ thông báo lỗi */
}
.table {
    width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của container */
    table-layout: auto; /* Cố định bố cục bảng */
}
.table-responsive{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
th, td {
    white-space: nowrap; /* Ngăn không cho nội dung xuống dòng */
    padding: 0 10px; /* Thêm khoảng cách cho các ô */
    text-align: center; /* Căn trái cho nội dung */
}
.btn-action{
    background-color: #ffff;
    height: 50px;
    margin-left: 5px;
    border: 0px;
    font-size: 15px;
}
.btn-action:hover{
    font-size: 20px;
}
.btn-action i:hover{
    font-size: 25px;
}
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.custom-modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
