<div class="popup">
    <div class="content">
        <span class="close" (click)="close()" style="color: rgb(25, 0, 255);">X</span>
        <form id="customerForm" (ngSubmit)="createDiaChi()" #customerForm="ngForm">
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Số nhà</label>
                        <input type="number" class="form-control" placeholder="Nhập số nhà" name="soNha"
                            [(ngModel)]="diaChiMoi.soNha" required #soNha="ngModel">
                        <span class="text-danger" *ngIf="soNha.touched && diaChiMoi.soNha?.trim() === ''">
                            Số nhà không được để trống
                        </span>
                        <span class="text-danger" *ngIf="soNha.touched && hasWhitespace(diaChiMoi.soNha)">
                            Số nhà không được chứa khoảng trắng
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Đường</label>
                        <input type="text" class="form-control" placeholder="Nhập đường" name="duong"
                            [(ngModel)]="diaChiMoi.duong" required #duong="ngModel">
                        <span class="text-danger" *ngIf="duong.touched && diaChiMoi.duong?.trim() === ''">
                            Đường không được để trống
                        </span>
                        <span class="text-danger" *ngIf="duong.touched && hasNumbers(diaChiMoi.duong)">
                            Đường không được chứa số
                        </span>
                        <span class="text-danger" *ngIf="duong.touched && hasSpecialCharacters(diaChiMoi.duong)">
                            Đường không được chứa ký tự đặc biệt
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input type="number" class="form-control" placeholder="Nhập số điện thoại" name="sdt"
                            [(ngModel)]="diaChiMoi.sdt" required #sdt="ngModel">
                        <span class="text-danger" *ngIf="sdt.touched && diaChiMoi.sdt?.trim() === ''">
                            Số điện thoại không được để trống
                        </span>
                        <span class="text-danger" *ngIf="sdt.touched && !diaChiMoi.sdt?.startsWith('0')">
                            Số điện thoại phải bắt đầu bằng số 0
                        </span>
                        <span class="text-danger" *ngIf="sdt.touched && validatePhoneLength(diaChiMoi.sdt)">
                            Số điện thoại phải từ 10-11 số
                        </span>
                        <span class="text-danger" *ngIf="sdt.touched && hasWhitespace(diaChiMoi.sdt)">
                            Số điện thoại không được chứa khoảng trắng
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <div>
                            <label for="" class="form-label">Tỉnh thành</label>
                            <select class="form-select" aria-label="Default select example"
                                style="height: 40px;font-size: 15px;" name="tinhThanh" [(ngModel)]="selectedTinhThanh"
                                (change)="onTinhThanhChange($event)">
                                <option *ngFor="let province of provinces" [value]="province.ProvinceID">{{
                                    province.ProvinceName }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <div>
                            <label for="" class="form-label">Quận huyện</label>
                            <select class="form-select" aria-label="Default select example"
                                style="height: 40px;font-size: 15px;" name="quanHuyen" [(ngModel)]="selectedQuanHuyen"
                                (change)="onQuanHuyenChange($event)">
                                <option *ngFor="let district of districts" [value]="district.DistrictID">{{
                                    district.DistrictName }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <div>
                            <label for="" class="form-label">Phường xã</label>
                            <select class="form-select" aria-label="Default select example"
                                style="height: 40px;font-size: 15px;" name="phuongXa" [(ngModel)]="selectedPhuongXa"
                                (change)="onPhuongXaChange($event)">
                                <option *ngFor="let ward of wards" [value]="ward.WardCode">{{ ward.WardName }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Quốc gia</label>
                        <input type="text" class="form-control" placeholder="Nhập quốc gia" name="quocGia"
                            [(ngModel)]="diaChiMoi.quocGia" required #quocGia="ngModel"
                            [ngModel]="diaChiMoi.quocGia?.trim()">
                        <span class="text-danger" *ngIf="quocGia.touched && hasNumbers(diaChiMoi.quocGia)">
                            Quốc gia không được chứa số
                        </span>
                        <span class="text-danger" *ngIf="quocGia.touched && hasSpecialCharacters(diaChiMoi.quocGia)">
                            Quốc gia không được chứa ký tự đặc biệt
                        </span>
                        <span class="text-danger" *ngIf="quocGia.touched && !diaChiMoi.quocGia?.trim()">
                            Quốc gia không được để trống
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Loại địa chỉ</label>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" id="loaiDiaChiNhaRieng" style="width: 20px;"
                                [(ngModel)]="diaChiMoi.loaiDiaChi" name="loaiDiaChi" value="Nhà riêng" required checked>
                            <label class="form-check-label" for="loaiDiaChiNhaRieng" style="margin-right: 20px;">Nhà
                                riêng</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="loaiDiaChi" id="loaiDiaChiCongTy"
                                [(ngModel)]="diaChiMoi.loaiDiaChi" value="Công ty" required>
                            <label class="form-check-label" for="loaiDiaChiCongTy" style="margin-right: 20px;">Công
                                ty</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label class="form-label">Trạng thái</label>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="trangThai" value="Còn sử dụng"
                                id="editConSuDung" [(ngModel)]="diaChiMoi.trangThai" checked>
                            <label class="form-check-label" for="editConSuDung">Còn sử
                                dụng</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="trangThai" value="Ngừng sử dụng"
                                id="editKhongConSuDung" [(ngModel)]="diaChiMoi.trangThai">
                            <label class="form-check-label" for="editKhongConSuDung">Ngừng
                                sử dụng</label>
                        </div>
                    </div>
                </div>
                <div class="button-action" style="text-align: center;">
                    <div style="display: inline-block; margin-right: 10px;">
                        <button type="submit" class="btn-submit">
                            <i class="material-icons">add_location_alt</i> Thêm địa chỉ
                        </button>
                    </div>
                    <div style="display: inline-block;">
                        <button (click)="updateDiaChi()" class="btn-submit" type="submit" [disabled]="!idKhachHang">
                            <i class="material-icons">update</i> Cập nhật địa chỉ
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Table hiển thị dữ liệu khách hàng -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="background-color: #003366; color: #fff;">
                    <tr>
                        <th>STT</th>
                        <th>Số nhà</th>
                        <th>Đường</th>
                        <th>Số điện thoại</th>
                        <th>Tỉnh thành </th>
                        <th>Quận huyện</th>
                        <th>Phường xã</th>
                        <th>Quốc gia</th>
                        <th>Loại địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customerAddress of customersDiaChi; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ customerAddress.soNha }}</td>
                        <td>{{ customerAddress.duong }}</td>
                        <td>{{ customerAddress.sdt }}</td>
                        <td>{{ customerAddress.tinhThanh }}</td>
                        <td>{{ customerAddress.quanHuyen }}</td>
                        <td>{{ customerAddress.phuongXa }}</td>
                        <td>{{ customerAddress.quocGia }}</td>
                        <td>{{ customerAddress.loaiDiaChi }}</td>
                        <td>{{ customerAddress.trangThai }}</td>
                        <td>
                            <button (click)="diaChiDetail(customerAddress.id)" class="btn dark-blue">
                                <i class="material-icons">visibility</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page === 0">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{page + 1}} of {{pagination.totalPage}}</span>
                <button (click)="changePage(page + 1)" [disabled]="page === pagination.totalPage - 1">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
        </div>
    </div>
</div>