<div class="popup">
    <div class="content">
        <span class="close" (click)="close()">×</span>
        <form id="customerForm" (ngSubmit)="createDiaChi()" #customerForm="ngForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Số nhà</label>
                        <input type="text" class="form-control" placeholder="Nhập số nhà" name="soNha"
                            [(ngModel)]="diaChiMoi.soNha" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Đường</label>
                        <input type="text" class="form-control" placeholder="Nhập đường" name="duong"
                            [(ngModel)]="diaChiMoi.duong" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Phường xã</label>
                        <input type="text" class="form-control" placeholder="Nhập phường xã" name="phuongXa"
                            [(ngModel)]="diaChiMoi.phuongXa" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Quận huyện</label>
                        <input type="text" class="form-control" placeholder="Nhập quận huyện" name="quanHuyen"
                            [(ngModel)]="diaChiMoi.quanHuyen" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Tỉnh thành</label>
                        <input type="text" class="form-control" placeholder="Nhập tỉnh thành" name="tinhThanh"
                            [(ngModel)]="diaChiMoi.tinhThanh" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Quốc gia</label>
                        <input type="text" class="form-control" placeholder="Nhập quốc gia" name="quocGia"
                            [(ngModel)]="diaChiMoi.quocGia" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Loại địa chỉ</label>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" id="loaiDiaChiNhaRieng"
                                [(ngModel)]="diaChiMoi.loaiDiaChi" name="loaiDiaChi" value="Nhà riêng" required
                                checked>
                            <label class="form-check-label" for="loaiDiaChiNhaRieng" style="margin-right: 20px;">Nhà
                                riêng</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="loaiDiaChi" id="loaiDiaChiCongTy"
                                [(ngModel)]="diaChiMoi.loaiDiaChi" value="Công ty" required>
                            <label class="form-check-label" for="loaiDiaChiCongTy" style="margin-right: 20px;">Công
                                ty</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-3">
                        <label class="form-label">Trạng thái</label>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="trangThai" value="Còn sử dụng"
                                id="editConSuDung" [(ngModel)]="diaChiMoi.trangThai" checked>
                            <label class="form-check-label" for="editConSuDung">Còn sử
                                dụng</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-radio" type="radio" name="trangThai" value="ngừng sử dụng"
                                id="editKhongConSuDung" [(ngModel)]="diaChiMoi.trangThai">
                            <label class="form-check-label" for="editKhongConSuDung">ngừng
                                sử dụng</label>
                        </div>
                    </div>
                </div>
                <div class="button-action">
                    <div style="display: inline-block; margin-right: 10px;">
                        <button type="submit" class="btn-submit">
                            <i class="material-icons">person_add</i> Thêm
                        </button>
                    </div>
                    <div style="display: inline-block;">
                        <button (click)="updateDiaChi()" class="btn-submit"
                            type="submit" [disabled]="!idDiaChi">
                            <i class="material-icons">update</i> Cập Nhật
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Table hiển thị dữ liệu khách hàng -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead style="background-color: red; color: #fff;">
                    <tr>
                        <th>STT</th>
                        <th>Số nhà</th>
                        <th>Đường</th>
                        <th>Phường xã</th>
                        <th>Quận huyện</th>
                        <th>Tỉnh thành </th>
                        <th>Quốc gia</th>
                        <th>Loại địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customerAddress of customersDiaChi; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ customerAddress.soNha }}</td>
                        <td>{{ customerAddress.duong }}</td>
                        <td>{{ customerAddress.phuongXa }}</td>
                        <td>{{ customerAddress.quanHuyen }}</td>
                        <td>{{ customerAddress.tinhThanh }}</td>
                        <td>{{ customerAddress.quocGia }}</td>
                        <td>{{ customerAddress.loaiDiaChi }}</td>
                        <td>{{ customerAddress.trangThai }}</td>
                        <td>
                            <button (click)="diaChiDetail(customerAddress.id)" class="btn btn-info">
                                <i class="material-icons">visibility</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button (click)="changePage(page - 1)" [disabled]="page === 0">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{page + 1}} of {{pagination.totalPage}}</span>
                <button (click)="changePage(page + 1)" [disabled]="page === pagination.totalPage - 1">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
        </div>
    </div>
</div>