/* Mặc định cho màn hình lớn hơn (desktop) */
.hoa-don-create {
    width: 100%;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    /* overflow: hidden; */
}

.tab {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #e0e0e0;
}

.tab a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.tab a.active {
    color: #3498db;
    border-bottom: 3px solid #3498db;
}

.create-order {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px 0;
    background-color: #f44336;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.create-order:hover {
    background-color: #e66158;
}

.craete-invoice {
    display: flex;
}

.create-client {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #464545;
    font-size: 15px;
    cursor: pointer;
}

.create-client button:hover {
    font-size: 25px;
}

.profile-client {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 600px;
    padding: 0 20px;
}

.order-list {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.order-list i {
    font-size: 100px;
    text-align: center;
    margin-left: 45%;
    color: grey;
}

.order-item {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    border: 0.5px solid rgb(195, 193, 193);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 120px;
    height: 30px;
}

.order-item.active {
    border-bottom: none;
}

.order-item.active button {
    color: #3498db;
}

.order-item button {
    border-top-left-radius: 10px;
    border: none;
    background-color: #ffff;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 2px 5px;
    cursor: pointer;
}

.order-item .close {
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
}

.order-details {
    margin-bottom: 20px;
}

.order-details h2 {
    font-size: 20px;
}

.actions {
    display: flex;
    gap: 15px;
}

.actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.actions .add-product {
    background-color: #f1c40f;
    color: #fff;
}

.actions .qr-code {
    background-color: #27ae60;
    color: #fff;
}

.cart {
    padding: 20px;
    border-bottom: 0.5px solid rgb(193, 174, 174);
    text-align: center;
}

.cart i {
    font-size: 80px;
    height: auto;
    margin-bottom: 10px;
}

.cart p {
    color: #7f8c8d;
}

.cash {
    margin-left: 20px;
    margin-bottom: 10px;
    height: 55px;
}

.payment button {
    border: none;
    background-color: rgb(96, 213, 96);
    border-radius: 10px;
    color: #ffff;
    cursor: pointer;
}

.payment button:hover {
    background-color: rgb(59, 177, 59);
}

.profile-pay {
    display: flex;
    height: 150px;
}

.voucher {
    width: 50%;
    text-align: center;
    margin-top: 20px;
    padding-left: 0;
}

.voucher input {
    margin-left: 10px;
    border: 0.5px solid gray;
    border-radius: 10px;
    height: 30px;
}

.voucher button {
    height: 30px;
    border: none;
    background-color: #91e658;
    border-radius: 40%;
    margin-left: 10px;
}

.voucher button i {
    justify-content: center;
    color: #fff;
}

.voucher select {
    width: 250px;
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 10px;
    margin-left: -17px;
}

.cash-client {
    border: none;
    width: 200px;
    border-bottom: 0.3px solid gray;
}

.card-header {
    display: flex;
}

.card-header input {
    border-radius: 10px;
    border: 0.5px solid gainsboro;
    background-color: rgb(214, 206, 206);
    margin-left: 70%;
    width: 200px;
}

.select-product {
    border: none;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 10px;
}

.select-product button:hover {
    color: rgba(0, 0, 0, 0.075);
}

.select-product i:hover {
    font-size: 30px;
}

.select-invoice {
    border: none;
    background-color: #ffff;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.select-invoice i {
    font-size: 20px;
}

.select-invoice i:hover {
    font-size: 25px;
}

.pagination {
    justify-content: center;
}

.pagination button {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}

.pagination button i:hover {
    font-size: 25px;
    color: gray;
}

.thanh-toan {
    width: 50%;
}

.error-border {
    border-bottom: 1px solid red;
    background-color: #ffe6e6;
}

.error-text {
    color: red;
    font-size: 12px;
}

.combo-box {
    margin: 20px -10px;
    width: 100%;
}

input {
    padding: 5px;
    width: 250px;
}

datalist {
    display: none;
    /* Ẩn datalist mặc định */
}

.form-control {
    width: 30px;
}

.input-group button i {
    font-size: 15px;
}

.input-group button i:hover {
    font-size: 20px;
}

.material-icons {
    cursor: pointer;
}

.giao-hang {
    margin-left: 173px;
    margin-top: 10px;
}

.giao-hang span {
    display: flex;
}

.giao-hang i {
    margin-left: 10px;
    font-size: 30px;
    background-color: #ffff;
}

.danh-sach-hoa-don {
    background-color: #fff;
    padding: 10px;
}

.button-select {
    font-size: 15px;
    color: #ffff;
    text-align: center;
}

.button-select .choXacNhan {
    background-color: green;
    border-radius: 20%;
}

.button-select .daXacNhan {
    background-color: #9f84c4;
    border-radius: 20%;
}

.button-select .dangGiaoHang {
    background-color: red;
    border-radius: 20%;
}

.button-select .hoanThanh {
    background-color: rgb(192, 59, 10);
    border-radius: 20%;
}

.button-select .daHuy {
    background-color: orange;
    border-radius: 20%;
}

.button-select:hover {
    cursor: pointer;
    font-size: 20px;
}

/* time line */
.main-timeline10:after,
.main-timeline10:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline10 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-timeline10 .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 24%
}

.main-timeline10 .timeline {
    flex: 1;
    margin: 0 10px;
    position: relative;
}

.main-timeline10 .timeline-inner {
    text-align: center;
    margin: 20px 10px;
    position: relative;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-timeline10 .timeline-inner:after {
    content: "";
    width: 300px;
    /* Đặt độ dài cố định cho thanh dưới */
    height: 3px;
    background: #030303;
    position: absolute;
    bottom: 95px;
    /* Đặt thanh dưới icon */
    left: 110%;
    transform: translateX(-50%);
    /* Căn giữa thanh nối */
}

.main-timeline10 .timeline:last-child .timeline-inner:after {
    width: 0;
}

.main-timeline10 .year {
    background: #58b25e;
    padding: 5px 0;
    border-radius: 30px 0;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    position: relative
}

.main-timeline10 .year:after,
.main-timeline10 .year:before {
    position: absolute;
    top: -19px;
    content: ""
}

.main-timeline10 .year:before {
    right: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #58b25e;
    border-right: 10px solid #58b25e
}

.main-timeline10 .year:after {
    width: 25px;
    height: 19px;
    border-radius: 0 0 20px;
    background: #fff;
    right: 1px
}

.main-timeline10 .timeline-content {
    padding: 10px 10px 30px;
    border-left: 3px solid #58b25e;
    position: relative
}

.main-timeline10 .timeline-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    border: 10px solid transparent;
    border-top: 10px solid #58b25e;
    border-left: 10px solid #58b25e
}

.main-timeline10 .timeline-content:after {
    content: "";
    width: 25px;
    height: 19px;
    border-radius: 20px 0 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0
}

.main-timeline10 .post {
    font-size: 20px;
    color: #333
}

.main-timeline10 .description {
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}

.main-timeline10 .timeline-icon {
    width: 70px;
    height: 70px;
    line-height: 65px;
    border-radius: 50%;
    border: 5px solid #58b25e;
    background: #fff;
    font-size: 30px;
    color: #555;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

.main-timeline10 .timeline:nth-child(2n) .year {
    background: #9f84c4
}

.main-timeline10 .timeline:nth-child(2n) .year:before {
    border-bottom-color: #9f84c4;
    border-right-color: #9f84c4
}

.main-timeline10 .timeline:nth-child(2n) .timeline-content {
    border-left-color: #9f84c4
}

.main-timeline10 .timeline:nth-child(2n) .timeline-content:before {
    border-top-color: #9f84c4;
    border-left-color: #9f84c4
}

.main-timeline10 .timeline:nth-child(2n) .timeline-icon {
    border-color: #9f84c4
}

.main-timeline10 .timeline:nth-child(3n) .year {
    background: #f35958
}

.main-timeline10 .timeline:nth-child(3n) .year:before {
    border-bottom-color: #f35958;
    border-right-color: #f35958
}

.main-timeline10 .timeline:nth-child(3n) .timeline-content {
    border-left-color: #f35958
}

.main-timeline10 .timeline:nth-child(3n) .timeline-content:before {
    border-top-color: #f35958;
    border-left-color: #f35958
}

.main-timeline10 .timeline:nth-child(3n) .timeline-icon {
    border-color: #f35958
}

.main-timeline10 .timeline:nth-child(4n) .year {
    background: #e67e49
}

.main-timeline10 .timeline:nth-child(4n) .year:before {
    border-bottom-color: #e67e49;
    border-right-color: #e67e49
}

.main-timeline10 .timeline:nth-child(4n) .timeline-content {
    border-left-color: #e67e49
}

.main-timeline10 .timeline:nth-child(4n) .timeline-content:before {
    border-top-color: #e67e49;
    border-left-color: #e67e49
}

.main-timeline10 .timeline:nth-child(4n) .timeline-icon {
    border-color: #e67e49
}

@media only screen and (min-width: 1200px) {
    .main-timeline10 .timeline {
        flex: 1 1 18%;
        /* Khi màn hình lớn hơn 1200px, chia mỗi phần tử chiếm 18% chiều rộng */
    }
}

@media only screen and (max-width: 990px) {
    .main-timeline10 .timeline {
        flex: 1 1 48%;
        /* Màn hình trung bình (dưới 990px), chia mỗi phần tử chiếm 48% chiều rộng */
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline10 .timeline {
        flex: 1 1 100%;
        /* Màn hình nhỏ hơn 767px, mỗi phần tử chiếm toàn bộ chiều rộng */
    }
}

.timeline .timeline-inner {
    opacity: 0;
    /* Tạo hiệu ứng mờ cho các trạng thái chưa hoàn thành */
}

.timeline.active .timeline-inner {
    opacity: 1;
    /* Làm sáng các trạng thái đã hoàn thành hoặc trạng thái hiện tại */
}

.timeline-inner h4 {
    margin: 0;
    /* Loại bỏ margin để không làm thay đổi độ dài thanh */
    font-size: 18px;
    /* Điều chỉnh kích thước chữ nếu cần */
    white-space: nowrap;
    /* Giữ cho thẻ h4 không bị xuống dòng */
}

.page-header button {
    border: 0;
    background-color: #9075ab;
    border-radius: 45%;
}

.page-header button i {
    font-size: 20px;
    color: #ffff;
    text-align: center;
}

.chiTietHoaDon,
.lichSuHoaDon {
    font-size: 15px;
    color: rgb(177, 166, 166);
}

.chiTietHoaDon i:hover {
    cursor: pointer;
    font-size: 30px;
}

.lichSuHoaDon i:hover {
    cursor: pointer;
    font-size: 30px;
}

.page-header button i:hover {
    font-size: 27px;
}

.form_address {
    margin: 10px;
    justify-content: center;
    padding: 10px;
    display: flex;
}

.form_address div {
    margin-left: 20px;
}

.form_address .mb-3 input,.form_address .mb-3 select {
    width: 300px;
}

.example-form {
    margin-top: -15px;
    margin-left: 20px;
    min-width: 100px;
    max-width: 200px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

/* Media Queries cho màn hình điện thoại */
@media (max-width: 768px) {
    .tab {
        flex-direction: column;
        gap: 10px;
    }
    .profile-client {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    .order-list {
        flex-direction: column;
        gap: 10px;
    }

    .order-item {
        width: 100%;
        text-align: center;
    }

    .profile-pay {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .actions {
        flex-direction: column;
        gap: 10px;
    }

    .payment button {
        width: 100%;
        margin-top: 10px;
    }
}
