<div class="main-content">
    <div class="container-fluid">
        <div class="tab">
            <a (click)="selectTab('taoMoi')" [class.active]="activeTab === 'taoMoi'">Tạo mới</a>
            <a (click)="selectTab('danhSachHoaDon')" [class.active]="activeTab === 'danhSachHoaDon'">Danh sách hóa
                đơn</a>

        </div>
        <!--form tạo mới-->
        <div *ngIf="activeTab==='taoMoi'">
            <div class="row">
                <div class="hoa-don-create">
                    <div class="craete-invoice">
                        <div class="create-order">
                            <i class="material-icons">add</i>
                            <a (click)="createHoaDon()">Tạo hóa đơn</a>
                        </div>
                        <app-customer-popup *ngIf="popup" (closePopup)="closePopup()"
                            (customerSelected)="onCustomerSelected($event)">
                        </app-customer-popup>
                        <div class="profile-client">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Khách hàng</mat-label>
                                    <input type="text" placeholder="Nhập tên, sdt, emal" aria-label="Number" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete"
                                        (optionSelected)="onOptionSelected($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.ten">
                                            {{option.ten}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                            <div class="create-client">
                                <i class="material-icons" (click)="openPopup()">person_add</i>
                            </div>
                        </div>
                    </div>
                    <div class="order-list" id="order-list">
                        <div *ngIf="!checkHoaDon">
                            <div class="order-item" *ngFor="let hoaDon of hoaDon"
                                [ngClass]="{'active':hoaDon.id==activeInvoidID}">
                                <button (click)="getChiTietHoaDon(hoaDon.id)">{{hoaDon.ma}}</button>
                                <span class="close" (click)="removeHoaDon(hoaDon.id)">x</span>
                            </div>
                        </div>
                        <i *ngIf="checkHoaDon" class="material-icons">error</i>
                    </div>
                    <div class="cart">
                        <div *ngIf="hasError&&!checkHoaDon">
                            <i class="material-icons">production_quantity_limits</i>
                            <p>Chưa có sản phẩm</p>
                        </div>
                        <div *ngIf="!hasError&&!checkHoaDon">
                            <table class="table table-hover">
                                <thead class="text-dark">
                                    <th>Stt</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Xuất xứ</th>
                                    <th>Thương hiệu</th>
                                    <th>Màu sắc</th>
                                    <th>Giới Tính</th>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th>Hành động</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cthd of chitietHoaDon, let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{cthd.chiTietSanPham?.ten}}</td>
                                        <td>{{cthd.chiTietSanPham?.sanPham?.xuatXu?.ten}}</td>
                                        <td>{{cthd.chiTietSanPham?.sanPham?.thuongHieu?.ten}}</td>
                                        <td>{{cthd.chiTietSanPham?.mauSac?.ten}}</td>
                                        <td>{{cthd.chiTietSanPham?.sanPham?.gioiTinh?.ten}}</td>
                                        <td>{{cthd.chiTietSanPham?.size?.ten}}</td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <button class="input-group-text"><i class="material-icons"
                                                        (click)="decreaseQuantity(cthd.id)">remove</i></button>
                                                <input type="text" class="form-control" [value]="cthd.soLuong" disabled>
                                                <button class="input-group-text"><i class="material-icons"
                                                        (click)="increaseQuantity(cthd.chiTietSanPham?.id)">add</i></button>
                                            </div>
                                        </td>
                                        <td>{{cthd.giaSpctHienTai | currency:'VND'}}</td>
                                        <td><button class="select-invoice"><i class="material-icons"
                                                    (click)="removeHoaDonChiTiet(cthd.id)">delete_forever</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="profile-pay">
                        <div class="thanh-toan">
                            <div class="cash">
                                <div>
                                    <span>Tổng tiền: {{tongTienBanDau | currency:'VND'}}</span>
                                </div>
                                <div style="display: flex;">
                                    <div>
                                        <span>Tiền khách đưa: </span>
                                        <input type="text" class="cash-client" [(ngModel)]="tienKhachDua"
                                            (input)="getTienTraLai(tienKhachDua)"
                                            [ngClass]="{'error-border': tienKhachDua < tongTienSauVoucher || tienKhachDuaInvalid}">
                                    </div>
                                    <div *ngIf="tienKhachDua < tongTienSauVoucher">
                                        <span class="error-text">Số tiền khách đưa không đủ!</span>
                                    </div>
                                    <div *ngIf="tienKhachDuaInvalid">
                                        <span class="error-text">Dữ liệu không hợp lệ!</span>
                                    </div>
                                </div>
                                <div>
                                    <span>Tổng tiền phải thanh toán: {{tongTienSauVoucher | currency:'VND'}}</span>
                                </div>
                                <div>
                                    <span>tiền trả lại: {{tienTraLai}}</span>
                                </div>
                                <div class="payment">
                                    <button (click)="thanhtoanHoaDon(activeInvoidID)"><i
                                            class="material-icons">payments</i>Thanh toán</button>
                                </div>
                            </div>
                        </div>
                        <div class="voucher">
                            <select class="form-select" (change)="getIdThanhToan($event.target.value)">
                                <option selected disabled>---chọn phương thức thanh toán</option>
                                <option *ngFor="let phuongThuc of phuongThucThanhToan" [value]="phuongThuc.id">
                                    {{phuongThuc.tenPhuongThuc}}</option>
                            </select>
                            <div class="giao-hang">
                                <span>Giao hàng: <i class="material-icons toggle-icon"
                                        [ngStyle]="{ color: icon === 'toggle_off' ? 'gray' : 'green' }"
                                        (click)="toggleIcon()">
                                        {{ icon }}
                                    </i></span>
                            </div>
                            <div class="combo-box">
                                <input type="text" id="comboInput" list="options"
                                    placeholder="Nhập hoặc chọn voucher..." (input)="onInputChange($event)" />
                                <datalist id="options">
                                    <option *ngFor="let voucher of voucher" [value]="voucher.ten"
                                        [attr.data-id]="voucher.id"></option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Sản phẩm</h4>
                            <input type="text" placeholder="Nhập tên sản phẩm hoặc mã..." [(ngModel)]="searchTerm"
                                (input)="searchProduct()">
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>Stt</th>
                                    <th>Mã</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Xuất xứ</th>
                                    <th>Thương hiệu</th>
                                    <th>Màu sắc</th>
                                    <th>Giới Tính</th>
                                    <th>Size</th>
                                    <th>số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thao tác</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ctsp of product, let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{ctsp.ma}}</td>
                                        <td>{{ctsp.ten}}</td>
                                        <td>{{ctsp.san_pham?.xuatXu?.ten}}</td>
                                        <td>{{ctsp.san_pham?.thuongHieu?.ten}}</td>
                                        <td>{{ctsp.mauSac?.ten}}</td>
                                        <td>{{ctsp.san_pham?.gioiTinh?.ten}}</td>
                                        <td>{{ctsp.size?.ten}}</td>
                                        <td>{{ctsp.soLuong}}</td>
                                        <td>{{ctsp.donGia | currency:'VND'}}</td>
                                        <td><button class="select-product" (click)="selectProduct(ctsp.id)">
                                                <i class="material-icons">add_shopping_cart</i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination">
                            <button (click)="getSanPham(pagination.pageNumber - 1)"
                                [disabled]="pagination.pageNumber === 0">
                                <i class="material-icons">arrow_back_ios</i>
                            </button>
                            <span>Page {{pagination.pageNumber + 1}} of {{pagination.totalPage}}</span>
                            <button (click)="getSanPham(pagination.pageNumber + 1)"
                                [disabled]="pagination.pageNumber === pagination.totalPage - 1">
                                <i class="material-icons">arrow_forward_ios</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---form danh sách hóa đơn-->
        <div *ngIf="activeTab==='danhSachHoaDon'" class="danh-sach-hoa-don">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="material-icons">search</i></span>
                <input type="text" class="form-control" placeholder="Nhập mã hóa đơn or tên khách hàng"
                    (input)="onKeyworkChange($event)">
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">Stt</th>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Giao hàng</th>
                        <th scope="col">Phương thức thanh toán</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hoaDon of hoaDonCho, let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{hoaDon.ma}}</td>
                            <td>{{hoaDon.khachHang.ten}}</td>
                            <td *ngIf="hoaDon.giaoHang==1">có</td>
                            <td *ngIf="hoaDon.giaoHang==0">không</td>
                            <td>{{hoaDon.thanhToan.tenPhuongThuc}}</td>
                            <td>{{hoaDon.thoiGianTao}}</td>
                            <td>{{hoaDon.tongTienSauVoucher}}</td>
                            <td class="button-select">
                                <div *ngIf="hoaDon.trangThai==='chờ xác nhận'" class="choXacNhan"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">chờ xác nhận</div>
                                <div *ngIf="hoaDon.trangThai==='đã xác nhận'" class="daXacNhan"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">đã xác nhận</div>
                                <div *ngIf="hoaDon.trangThai==='đang giao hàng'" class="dangGiaoHang"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">đang giao hàng</div>
                                <div *ngIf="hoaDon.trangThai==='hoàn thành'" class="hoanThanh"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">hoàn thành</div>
                                <div *ngIf="hoaDon.trangThai==='đã hủy'" class="daHuy"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">đã hủy</div>
                            </td>
                            <td style="display: flex;">
                                <div class="chiTietHoaDon"><i class="material-icons"
                                        (click)="openPopupHd(hoaDon.id)">visibility</i></div>
                                <div class="lichSuHoaDon"><i class="material-icons"
                                        (click)="openPopupHs(hoaDon.id)">history_edu</i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-history-popup *ngIf="popupHs" [hoaDonId]="hoaDonChoId"
                    (closePopup)="closePopupHs()"></app-history-popup>
                <app-table-list *ngIf="popupHd" [hoaDonId]="hoaDonChoId" (closePopup)="closePopupHd()"></app-table-list>
            </div>
            <div class="pagination">
                <button (click)="changePage(pageHoaDonCt - 1)" [disabled]="pageHoaDonCt === 0">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{pageHoaDonCt + 1}} of {{paginationHd.totalPage}}</span>
                <button (click)="changePage(pageHoaDonCt + 1)" [disabled]="pageHoaDonCt === paginationHd.totalPage - 1">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Thông tin đơn hàng</h1>
                        <h4>Mã hóa đơn:{{maHoaDonCho}}</h4>
                        <button *ngIf="trangThaiHoaDon==='hoàn thành'&&!isHidden" (click)="downloadPdf(hoaDonChoId)">
                            <i class="material-icons">print</i>
                        </button>
                        <button *ngIf="trangThaiHoaDon==='chờ xác nhận' &&!isHidden"
                            (click)="removeHoaDon(hoaDonChoId)">
                            <i class="material-icons">remove_shopping_cart</i>
                        </button>
                        <h4 *ngIf="phiVanChuyen!=null">Phí vận chuyển: {{phiVanChuyen | currency:'VND'}}</h4>
                    </div>
                    <div style="justify-content: center; text-align: center;" *ngIf="isHidden">
                        <i class="material-icons" style="text-align: center;font-size: 40px;">delete</i>
                        <h3>Hóa đơn đã được hủy</h3>
                    </div>
                    <button *ngIf="trangThaiHoaDon==='chờ xác nhận'||trangThaiHoaDon===null &&!isHidden"
                        class="btn btn-primary" (click)="updateTrangThaiHoaDon(hoaDonChoId)">xác nhận</button>
                    <button *ngIf="trangThaiHoaDon==='đã xác nhận'&&idGiaoHang===1 &&!isHidden" class="btn btn-primary"
                        (click)="updateTrangThaiHoaDon(hoaDonChoId)">Giao hàng</button>
                    <button
                        *ngIf="trangThaiHoaDon==='đã xác nhận'&&idGiaoHang===0 ||trangThaiHoaDon==='đang giao hàng' &&!isHidden"
                        class="btn btn-primary" (click)="updateTrangThaiHoaDon(hoaDonChoId)">hoàn thành</button>
                    <div style="display:inline-block;width:100%;overflow-x:hidden;" *ngIf="!isHidden">
                        <div class="row main-timeline10">
                            <!-- Trạng thái Chờ xác nhận -->
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
                                [ngClass]="{'active': trangThaiHoaDon === 'chờ xác nhận' || trangThaiHoaDon === 'đã xác nhận' || trangThaiHoaDon === 'đang giao hàng'||trangThaiHoaDon === 'hoàn thành'}">
                                <div class="timeline-inner">
                                    <h4>Chờ xác nhận</h4>
                                    <div class="timeline-icon">
                                        <i class="fa fa-solid fa-exclamation"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Trạng thái Đã xác nhận -->
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
                                [ngClass]="{'active': trangThaiHoaDon === 'đã xác nhận' || trangThaiHoaDon === 'đang giao hàng'||trangThaiHoaDon === 'hoàn thành'}">
                                <div class="timeline-inner">
                                    <h4>Đã xác nhận</h4>
                                    <div class="timeline-icon">
                                        <i class="fa fa-solid fa-check"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Trạng thái Đang giao hàng -->
                            <div *ngIf="idGiaoHang=== 1" class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
                                [ngClass]="{'active': trangThaiHoaDon === 'đang giao hàng' || trangThaiHoaDon === 'hoàn thành'}">
                                <div class="timeline-inner">
                                    <h4>Đang giao hàng</h4>
                                    <div class="timeline-icon">
                                        <i class="fa fa-solid fa-truck"></i>
                                    </div>
                                </div>
                            </div>

                            <!-- Trạng thái Hoàn thành -->
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 timeline"
                                [ngClass]="{'active': trangThaiHoaDon === 'hoàn thành'}">
                                <div class="timeline-inner">
                                    <h4>Hoàn thành</h4>
                                    <div class="timeline-icon">
                                        <i class="fa fa-regular fa-credit-card"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"
                *ngIf="hoaDonChoId!==0&&trangThaiHoaDon ==='đã xác nhận'&&trangThaiHoaDon!=='đang giao hàng'&&idGiaoHang===1">
                <form class="form_address" (ngSubmit)="submitAddress()">
                    <div>
                        <div class="mb-3">
                            <label for="hoTen" class="form-label">Họ và Tên</label>
                            <input type="text" class="form-control" id="hoTen" [(ngModel)]="hoTenNguoiNhan" name="hoTen"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="soDienThoai" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="soDienThoai" [(ngModel)]="soDienThoai"
                                name="soDienThoai" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="soNha" class="form-label">Số nhà</label>
                            <input type="text" class="form-control" id="soNha" [(ngModel)]="soNha" name="soNha"
                                required>
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <label for="duong" class="form-label">Đường</label>
                            <input type="text" class="form-control" id="duong" [(ngModel)]="duong" name="duong"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="tinhThanh" class="form-label">Tỉnh/ thành</label>
                            <select class="form-control" id="tinhThanh" [(ngModel)]="selectedTinhThanh" name="tinhThanh"
                                (change)="onTinhThanhChange($event)" required>
                                <option *ngFor="let tinh of provinces" [value]="tinh.ProvinceID">{{ tinh.ProvinceName }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quanHuyen" class="form-label">Quận/ huyện</label>
                            <select class="form-control" id="quanHuyen" [(ngModel)]="selectedQuanHuyen" name="quanHuyen"
                                (change)="onQuanHuyenChange($event)" required>
                                <option *ngFor="let quan of districts" [value]="quan.DistrictID">{{ quan.DistrictName }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="phuongXa" class="form-label">Phường/ xã</label>
                            <select class="form-control" id="phuongXa" [(ngModel)]="selectedPhuongXa" name="phuongXa"
                                (change)="onPhuongXaChange($event)" required>
                                <option *ngFor="let phuong of wards" [value]="phuong.WardCode">{{ phuong.WardName }}
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>