/* Mặc định cho màn hình lớn hơn (desktop) */
.hoa-don-create {
    width: 100%;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    /* overflow: hidden; */
}

.cart .select-invoice {
    border: none;
    background-color: #ffff;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.cart .select-invoice i {
    font-size: 20px;
}

.tab {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #e0e0e0;
}

.tab a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.tab a:hover {
    cursor: pointer;
}

.tab a.active {
    color: #3498db;
    border-bottom: 3px solid #3498db;
}

.craete-invoice {
    display: flex;
}

.hoa-don-cho {
    display: flex;
    justify-content: space-between;
    border: none;
    color: #464545;
    font-size: 15px;
    cursor: pointer;
}

.hoa-don-cho span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.order-list {
    display: flex;
    gap: 15px;
}

.order-list i {
    font-size: 100px;
    text-align: center;
    margin-left: 45%;
    color: grey;
}

.order-list .create-order i {
    font-size: 35px;
    margin-left: 0px;
}

.create-order {
    display: flex;
}

.create-order .hoa-don-cho {
    margin-left: 645%;
}

.order-item {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    border: 0.5px solid rgb(195, 193, 193);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 120px;
    height: 30px;
}

.order-item.active {
    border-bottom: none;
}

.order-item.active button {
    color: #3498db;
}

.order-item button {
    border-top-left-radius: 10px;
    border: none;
    background-color: #ffff;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 2px 5px;
    cursor: pointer;
}

.order-item .close {
    position: absolute;
    right: 0;
    top: 0;
    color: gray;
    padding: 3px 5px;
    font-size: 13px;
    cursor: pointer;
}

.order-details {
    margin-bottom: 20px;
}

.order-details h2 {
    font-size: 20px;
}

.actions {
    display: flex;
    gap: 15px;
}

.actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.actions .add-product {
    background-color: #f1c40f;
    color: #fff;
}

.actions .qr-code {
    background-color: #27ae60;
    color: #fff;
}

.cart {
    padding: 20px;
    text-align: center;
}

.cart i {
    font-size: 80px;
    height: auto;
    margin-bottom: 10px;
}

.cart p {
    color: #7f8c8d;
}

.san-pham-popup {
    font-size: 20px;
    text-align: right;
    padding: 10px;
}

.san-pham-popup span {
    padding: 5px;
    width: 150px;
    background-color: rgb(18, 16, 128);
    color: #fff;
    height: 30px;
    border-radius: 5%;
}

.san-pham-popup span:hover {
    cursor: pointer;
}

.payment button:hover {
    background-color: rgb(13, 21, 107);
}

.profile-pay {
    display: flex;
    height: 150px;
}

.card-header .form-select {
    width: 120px;
    margin-left: 10px;
    border: 0;
    border-radius: 10px;
}

.voucher {
    width: 30%;
    text-align: left;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.voucher input {
    width: 100%;
    margin-left: 10px;
    border: none;
    border-bottom: 0.5px solid gray;
    height: 30px;
}

.voucher button {
    width: 100%;
    color: #ffff;
    height: 30px;
    border: none;
    background-color: rgb(244, 25, 25);
    border-radius: 5%;
    margin-left: 10px;
}

.voucher select {
    width: 100%;
    /* Make the select element take up full width */
    height: 30px;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.voucher div {
    margin-top: 10px;
    width: 100%;
    /* Ensure div elements take up full width */
}

.address {
    width: 65%;
}

.cash-client {
    width: 120px;
}

.card-header {
    display: flex;
    background-color: #003366;
}

.card-title {
    color: #fff;
}

.card-header input {
    border-radius: 10px;
    border: 0.5px solid gainsboro;
    margin-left: 5%;
    width: 200px;
}

.select-product {
    border: none;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 10px;
}

.select-product button:hover {
    color: rgba(0, 0, 0, 0.075);
}

.select-product i:hover {
    font-size: 30px;
}

.error-border {
    border-bottom: 1px solid red;
    background-color: #ffe6e6;
}

.error-text {
    color: red;
    font-size: 12px;
}

.combo-box {
    margin: 20px -10px;
    width: 100%;
}

input {
    padding: 5px;
    width: 250px;
}

datalist {
    display: none;
    /* Ẩn datalist mặc định */
}

.form-control {
    width: 30px;
}

.input-group button i {
    font-size: 15px;
}

.input-group button i:hover {
    font-size: 20px;
}

.material-icons {
    cursor: pointer;
}

.giao-hang {
    margin-top: 10px;
}

.giao-hang span {
    display: flex;
}

.giao-hang i {
    margin-left: 10px;
    font-size: 30px;
    background-color: #ffff;
}

.danh-sach-hoa-don {
    background-color: #fff;
    padding: 10px;
}



.table-container {
    padding: 5px;
    overflow-x: auto;
    /* Kích hoạt cuộn ngang */
    white-space: nowrap;
    /* Giữ nội dung trên cùng một dòng */
    max-width: 100%; /* Đảm bảo chiều rộng không vượt quá màn hình */
    max-height: 100%; /* Giới hạn chiều cao để tránh bị đè */
}

.table-container table {
    width: 100%;
    /* Đảm bảo bảng luôn chiếm đầy đủ không gian */
    min-width: 100%;
    /* Đặt chiều rộng tối thiểu nếu cần */
}
.table-container .pagination{
    text-align: center;
    justify-content: center;
    justify-items: center;
}
/* Tùy chỉnh thanh cuộn */
.table-container::-webkit-scrollbar {
    width: 6px;
    /* Độ rộng của thanh cuộn dọc */
    height: 6px;
    /* Độ cao của thanh cuộn ngang */
}

.table-container::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    /* Màu của thanh cuộn */
    border-radius: 3px;
    /* Góc bo tròn của thanh cuộn */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #878585;
    /* Màu khi hover lên thanh cuộn */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của track thanh cuộn */
}

.button-select {
    font-size: 15px;
    color: #ffff;
    text-align: center;
}

.button-select .choXacNhan {
    background-color: green;
    border-radius: 20%;
}

.button-select .daXacNhan {
    background-color: #9f84c4;
    border-radius: 20%;
}

.button-select .dangGiaoHang {
    background-color: red;
    border-radius: 20%;
}

.button-select .hoanThanh {
    background-color: rgb(192, 59, 10);
    border-radius: 20%;
}

.button-select .daHuy {
    background-color: orange;
    border-radius: 20%;
}

.button-select:hover {
    cursor: pointer;
}

.chiTietHoaDon,
.lichSuHoaDon {
    font-size: 15px;
    color: rgb(177, 166, 166);
}

.chiTietHoaDon i:hover {
    cursor: pointer;
}

.lichSuHoaDon i:hover {
    cursor: pointer;
}

.form_address {
    margin: 10px;
    justify-content: center;
    padding: 10px;
    display: flex;
}

.form_address div {
    margin-left: 20px;
}

.form_address .mb-3 input,
.form_address .mb-3 select {
    width: 300px;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}


/* Media Queries cho màn hình điện thoại */
@media (max-width: 768px) {
    .tab {
        flex-direction: column;
        gap: 10px;
    }

    .profile-client {
        width: 100%;
        margin-left: 0;
        justify-content: center;
    }

    .order-list {
        flex-direction: column;
        gap: 10px;
    }

    .order-item {
        width: 100%;
        text-align: center;
    }

    .profile-pay {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .actions {
        flex-direction: column;
        gap: 10px;
    }

    .payment button {
        width: 100%;
        margin-top: 10px;
    }
}