<div class="main-content">
    <div class="container-fluid">
        <div class="tab">
            <a (click)="selectTab('taoMoi')" [class.active]="activeTab === 'taoMoi'">Tạo mới</a>
            <a (click)="selectTab('danhSachHoaDon')" [class.active]="activeTab === 'danhSachHoaDon'">Danh sách hóa
                đơn</a>

        </div>
        <!--form tạo mới-->
        <div *ngIf="activeTab==='taoMoi'">
            <div class="row">
                <div class="hoa-don-create">
                    <div class="craete-invoice">
                        <app-customer-popup *ngIf="popup" (closePopup)="closePopup()"
                            (customerSelected)="onCustomerSelected($event)">
                        </app-customer-popup>
                    </div>
                    <div class="san-pham-popup">
                        <span title="Sản phẩm" (click)="openPopupSanPham()">Chọn sản phẩm</span>
                    </div>
                    <div class="order-list" id="order-list">
                        <div *ngIf="!checkHoaDon">
                            <div class="order-item" *ngFor="let hoaDon of hoaDon"
                                [ngClass]="{'active':hoaDon.id==activeInvoidID}">
                                <button (click)="getChiTietHoaDon(hoaDon.id)">{{hoaDon.ma}}</button>
                                <span class="close" (click)="removeHoaDon(hoaDon.id)">x</span>
                            </div>
                        </div>
                        <div class="create-order">
                            <i class="material-icons" (click)="createHoaDon()" title="Tạo hóa đơn">add</i>
                            <div class="hoa-don-cho">
                                <i class="material-icons" (click)="openPopupCho()" title="Hóa đơn treo"
                                    *ngIf="trangThaiCho.length>0">autorenew</i>
                                <span class="bg bg-danger text-light" *ngIf="trangThaiCho.length>0"></span>
                            </div>
                        </div>
                        <app-hoa-don-cho *ngIf="popupCho" [idDang]="activeInvoidID"
                            (closePopup)="closePopupCho()"></app-hoa-don-cho>
                        <i *ngIf="checkHoaDon" class="material-icons">error</i>
                    </div>
                    <div class="cart">
                        <div *ngIf="hasError&&!checkHoaDon">
                            <i class="material-icons">production_quantity_limits</i>
                            <p>Chưa có sản phẩm</p>
                        </div>
                        <div *ngIf="!hasError&&!checkHoaDon&&activeTab==='taoMoi'">
                            <table class="table table-hover">
                                <thead class="text-dark">
                                    <th>Stt</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th>Hành động</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cthd of chitietHoaDon, let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{cthd.chiTietSanPham?.sanPham?.ten}} -
                                            {{cthd.chiTietSanPham?.sanPham?.thuongHieu?.ten}} -
                                            {{cthd.chiTietSanPham?.mauSac?.ten}} -
                                            {{cthd.chiTietSanPham?.size?.ten}}</td>
                                        <td>
                                            <div class="input-group mb-3">
                                                <button class="input-group-text"><i class="material-icons"
                                                        (click)="decreaseQuantity(cthd.id)">remove</i></button>
                                                <input type="text" class="form-control" [value]="cthd.soLuong" disabled>
                                                <button class="input-group-text"><i class="material-icons"
                                                        (click)="increaseQuantity(cthd.chiTietSanPham?.id)">add</i></button>
                                            </div>
                                        </td>
                                        <td>{{cthd.giaSpctHienTai | number:'1.0-0' }} VNĐ</td>
                                        <td><button class="select-invoice"><i class="material-icons"
                                                    (click)="removeHoaDonChiTiet(cthd.id)">delete_forever</i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <app-popup-san-pham *ngIf="popupSanPham&&activeTab==='taoMoi'" [activeInvoiceID]="activeInvoidID"
                        (closePopup)="closePopupSanPham()"></app-popup-san-pham>
                </div>
            </div>
            <div class="row">
                <div class="hoa-don-create" style="display: flex;">
                    <div class="address">
                        <h2 style="margin-left: 10px;">Thông tin thanh toán</h2>
                        <div *ngIf="icon==='toggle_on'">
                            <h3 style="text-align: center;">Địa chỉ nhận hàng</h3>
                            <form class="form_address" (ngSubmit)="submitAddress()">
                                <div>
                                    <div class="mb-3">
                                        <label for="hoTen" class="form-label">Họ và Tên</label>
                                        <input type="text" class="form-control" id="hoTen" [(ngModel)]="hoTenNguoiNhan"
                                            name="hoTen" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="soDienThoai" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control" id="soDienThoai"
                                            [(ngModel)]="soDienThoai" name="soDienThoai" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" [(ngModel)]="email"
                                            name="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="soNha" class="form-label">Số nhà</label>
                                        <input type="text" class="form-control" id="soNha" [(ngModel)]="soNha"
                                            name="soNha" required>
                                    </div>
                                </div>
                                <div>
                                    <div class="mb-3">
                                        <label for="duong" class="form-label">Đường</label>
                                        <input type="text" class="form-control" id="duong" [(ngModel)]="duong"
                                            name="duong" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tinhThanh" class="form-label">Tỉnh/ thành</label>
                                        <select class="form-control" id="tinhThanh" [(ngModel)]="selectedTinhThanh"
                                            name="tinhThanh" (change)="onTinhThanhChange($event)" required>
                                            <option *ngFor="let tinh of provinces" [value]="tinh.ProvinceID">{{
                                                tinh.ProvinceName }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="quanHuyen" class="form-label">Quận/ huyện</label>
                                        <select class="form-control" id="quanHuyen" [(ngModel)]="selectedQuanHuyen"
                                            name="quanHuyen" (change)="onQuanHuyenChange($event)" required>
                                            <option *ngFor="let quan of districts" [value]="quan.DistrictID">{{
                                                quan.DistrictName }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phuongXa" class="form-label">Phường/ xã</label>
                                        <select class="form-control" id="phuongXa" [(ngModel)]="selectedPhuongXa"
                                            name="phuongXa" (change)="onPhuongXaChange($event)" required>
                                            <option *ngFor="let phuong of wards" [value]="phuong.WardCode">{{
                                                phuong.WardName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="voucher">
                        <form class="example-form">
                            <input type="text" placeholder="Nhập hoặc chọn khách hàng...." [formControl]="myControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.ten">
                                    {{option.ten}} - {{option.sdt}}
                                </mat-option>
                                <mat-option (click)="openPopup()">
                                    <i class="material-icons" title="Thêm khách hàng">person_add</i>
                                </mat-option>
                            </mat-autocomplete>
                        </form>
                        <div>
                            <span>Tổng tiền tạm tính: {{tongTienBanDau | number:'1.0-0' }} VNĐ</span>
                        </div>
                        <div>
                            <select class="form-select" (change)="getIdThanhToan($event.target.value)">
                                <option *ngFor="let phuongThuc of phuongThucThanhToan" [value]="phuongThuc.id"
                                    style="text-align: center;">
                                    {{phuongThuc.tenPhuongThuc}}</option>
                            </select>
                        </div>
                        <div class="giao-hang">
                            <span>Giao hàng: <i class="material-icons toggle-icon"
                                    [ngStyle]="{ color: icon === 'toggle_off' ? 'gray' : 'green' }"
                                    (click)="toggleIcon()">
                                    {{ icon }}
                                </i></span>
                        </div>
                        <div class="combo-box">
                            <form class="example-form">
                                <input type="text" placeholder="Nhập hoặc chọn voucher..."
                                    [formControl]="voucherControl" [matAutocomplete]="voucherAuto">
                                <mat-autocomplete #voucherAuto="matAutocomplete"
                                    (optionSelected)="onChangeVoucher($event)">
                                    <mat-option *ngFor="let voucher of filteredVoucher | async" [value]="voucher.ten">
                                        {{voucher.ten}}
                                    </mat-option>
                                </mat-autocomplete>
                            </form>
                        </div>
                        <div>
                            <div>
                                <span>Tiền khách đưa: </span>
                                <input type="text" class="cash-client" [(ngModel)]="tienKhachDua"
                                    (input)="getTienTraLai(tienKhachDua)"
                                    [ngClass]="{'error-border': tienKhachDua < tongTienSauVoucher || tienKhachDuaInvalid}">
                            </div>
                            <div *ngIf="tienKhachDua < tongTienSauVoucher">
                                <span class="error-text">Số tiền khách đưa không đủ!</span>
                            </div>
                            <div *ngIf="tienKhachDuaInvalid">
                                <span class="error-text">Dữ liệu không hợp lệ!</span>
                            </div>
                        </div>
                        <div>
                            <span>Phí vận chuyển: {{ (phiVanChuyen||0) | number:'1.0-0' }} VNĐ</span>
                        </div>
                        <div>
                            <span>Số tiền được giảm: {{ (tongTienBanDau-tongTienSauVoucher||0) | number:'1.0-0' }} VNĐ</span>
                        </div>
                        <div>
                            <span>Tổng tiền phải thanh toán: {{(tongTienSauVoucher+phiVanChuyen||0) | number:'1.0-0' }} VNĐ</span>
                        </div>
                        <div>
                            <span>Tiền trả lại: {{(tienTraLai||0)|number:'1.0-0' }} VNĐ</span>
                        </div>
                        <div class="payment">
                            <button (click)="thanhtoanHoaDon(activeInvoidID)"><i
                                    class="material-icons">payments</i>Thanh
                                toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---form danh sách hóa đơn-->
        <div *ngIf="activeTab==='danhSachHoaDon'" class="danh-sach-hoa-don">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nhập mã hóa đơn or tên khách hàng"
                    (input)="onKeyworkChange($event)">
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">Stt</th>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Giao hàng</th>
                        <th scope="col">Phương thức thanh toán</th>
                        <th scope="col">Hình thức thanh toán</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Thao tác</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hoaDon of hoaDonCho, let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{hoaDon.ma}}</td>
                            <td>{{hoaDon.khachHang.ten}}</td>
                            <td *ngIf="hoaDon.giaoHang==1">có</td>
                            <td *ngIf="hoaDon.giaoHang==0">không</td>
                            <td>{{hoaDon.thanhToan.tenPhuongThuc}}</td>
                            <td *ngIf="hoaDon.hinhThucThanhToan==0">Tại quầy</td>
                            <td *ngIf="hoaDon.hinhThucThanhToan==1">Online</td>
                            <td>{{hoaDon.thoiGianTao}}</td>
                            <td>{{hoaDon.tongTienSauVoucher + hoaDon.phiShip-hoaDon.giTriGiam| number:'1.0-0' }} VNĐ</td>
                            <td class="button-select">
                                <div *ngIf="hoaDon.trangThai==='Chờ xác nhận'" class="choXacNhan"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">Chờ xác nhận</div>
                                <div *ngIf="hoaDon.trangThai==='Đã xác nhận'" class="daXacNhan"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">Đã xác nhận</div>
                                <div *ngIf="hoaDon.trangThai==='Đang giao hàng'" class="dangGiaoHang"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">Đang giao hàng</div>
                                <div *ngIf="hoaDon.trangThai==='Hoàn thành'" class="hoanThanh"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">Hoàn thành</div>
                                <div *ngIf="hoaDon.trangThai==='Đã hủy'" class="daHuy"
                                    (click)="getIdThongTinDonHang(hoaDon.id)">Đã hủy</div>
                            </td>
                            <td style="display: flex;">
                                <div class="chiTietHoaDon"><i class="material-icons"
                                        (click)="openPopupHd(hoaDon.id)">visibility</i></div>
                                <div class="lichSuHoaDon"><i class="material-icons"
                                        (click)="openPopupHs(hoaDon.id)">history_edu</i></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <app-history-popup *ngIf="popupHs" [hoaDonId]="hoaDonChoId"
                    (closePopup)="closePopupHs()"></app-history-popup>
                <app-table-list *ngIf="popupHd" [hoaDonId]="hoaDonChoId" (closePopup)="closePopupHd()"></app-table-list>
            </div>
            <div class="pagination" style="text-align: center;">
                <button style="border: 0px; background-color: #fff;" (click)="changePage(pageHoaDonCt - 1)"
                    [disabled]="pageHoaDonCt === 0">
                    <i class="material-icons">arrow_back_ios</i>
                </button>
                <span>Page {{pageHoaDonCt + 1}} of {{paginationHd.totalPage}}</span>
                <button style="border: 0px; background-color: #fff;" (click)="changePage(pageHoaDonCt + 1)"
                    [disabled]="pageHoaDonCt === paginationHd.totalPage - 1">
                    <i class="material-icons">arrow_forward_ios</i>
                </button>
            </div>
        </div>
    </div>